
{% extends "themusic/themusic_base.html" %}

{% block title_detail %}
	Geoffrey Robson, Associate Conductor
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			<div style="float: right; display: inline; padding: 40px;">
				<img src="/media/images/geoffreyrobson.jpg" alt="Geoffrey Robson">
			</div>
			
			<div style="font-size: 24px; margin-bottom: 5px;">Geoffrey Robson, Associate Conductor</div><br><br>
			
Geoffrey Robson has been the Associate Conductor of the Arkansas Symphony Orchestra since 2008, and 
the Music Director of the Arkansas Symphony Orchestra Youth Ensembles since 2012. Beginning in the 
fall of 2013 he will serve as Visiting Assistant Professor of Music at the University of Central Arkansas, 
a position that includes conducting the Conway Symphony Orchestra. He also performs as a violinist, 
frequently appearing in the Arkansas Symphony Orchestra's popular River Rhapsodies chamber series, as 
well as performing in Trio Arkansas with pianist Louis Menendez and cellist David Gerstein. As conductor, 
he has worked with guest artists such as Midori, the Beach Boys, Lawrence Hamilton, Timothy Jones, 
Henrietta Davis, Christiane Noll, Doug LaBrecque, and Calvin Lee. In addition, Robson writes and 
produces At the Symphony, a concert preview radio series on KLRE Classical 90.5 in Little Rock, Arkansas.
<br/><br/>
Robson completed his M.M. at Yale University in 2004, studying violin performance with Erick Friedman. 
In Connecticut, he served as co-concertmaster of the Connecticut Virtuosi Chamber Orchestra, and 
assistant concertmaster of the Waterbury Symphony. Robson also worked as a public schoolteacher 
in New Haven, CT, and has taught violin, piano, viola, and music theory extensively as a private 
instructor.
<br/><br/>
Robson studied orchestral conducting at the Mannes College of Music in New York City under 
the tutelage of David Hayes. He has twice attended the London Conducting Workshop, an annual 
course at the Royal College of Music in London, and the International Conducting Festival 
and Workshop in Zlin, Czech Republic. In 2006, he became a founding member of the Chelsea 
Symphony, a bold experiment in the structuring of an arts organization, based in the 
Chelsea neighborhood of Manhattan. Robson conducted in the inaugural concert of the 
Chelsea Symphony, and has since conducted numerous other concerts with the ensemble, 
including world premieres of two works. 
<br/><br/>
Robson graduated from the honors college at Michigan State University in 2002, where 
he studied violin performance with Dmitri Berlinsky and I-fu Wang, and conducting with Leon Gregorian. 
		
			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
