

{% extends "themusic/themusic_base.html" %}

{% block title_detail %}
	Philip Mann, Music Director
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			<div style="float: right; display: inline; padding: 40px;">
				<img src="/media/images/philipmann.jpg" alt="Philip Mann">
			</div>
			
			<div style="font-size: 24px; margin-bottom: 5px;">Philip Mann, Music Director</div><br><br>
			
				Hailed by the BBC as a "talent to watch out for, who conveys a mature command of his forces," American conductor 
				Philip Mann is quickly gaining a worldwide reputation as an "expressively graceful yet passionate" artist with a 
				range spanning opera, symphonic repertoire, new music, and experimental collaborations.  Philip is in his third 
				season as Music Director of the Arkansas Symphony Orchestra, which has seen audience and artistic growth, new energy, 
				and financial health under his tenure.  Formerly as the San Diego Symphony's Associate Conductor, he conducted hundreds 
				of performances of Jacobs Subscription Masterworks, Symphony Exposed, family, young people's concerts, Kinder Konzert, 
				pops, and other special programs and projects.  As an American Conducting Fellow, the San Diego Union Tribune raved, "Mann 
				was masterful- a skilled musical architect, designing and executing a beautifully paced interpretation, which seemed to spring 
				from somewhere deep within the music rather than superimposed upon it."
				<br><br>
				As winner of the Vienna Philharmonic's Karajan Fellowship at the Salzburg Festival, Mann has relationships with 
				orchestras and operas worldwide: including the Cleveland Orchestra, l'Orchestre symphonique de Québec, Indianapolis 
				Symphony Orchestra, Georgian State Opera, and the National Symphony of Cyprus. His recent Beethoven 9 was described as 
				"Titanic" and his Canadian debut with the OSQ was dubbed by Le Soleil as a "Tour de Force" and led to an immediate reengagement 
				in 2013.  Other upcoming engagements include the Grand Rapids Symphony, New Mexico Philharmonic, Little Orchestra Society of NY, 
				and the Georgian State Opera. Previously, the music director of the Oxford City Opera and Oxford Pro Musica Chamber Orchestra, 
				he has also held conducting positions with the Music in the Mountains Festival and Indianapolis Symphony. Mann has worked with 
				leading artists such as Joshua Bell, Sharon Isbin, Dmitri Alexeev, Midori,  and Marvin Hamlisch and has given premiers of major 
				composers including John Corigliano, Jennifer Higdon, Michael Torke, Lucas Richman, and many others.   He maintains a lively 
				schedule as a guest conductor having conducted at New York's Avery Fischer Hall and London's Barbican Center.
				<br><br>
				Elected a Rhodes Scholar, Mann studied and taught at Oxford, and has served as assistant conductor to Franz Welser-Möst, 
				Simon Rattle, Leonard Slatkin, Jaime Laredo, Mario Venzago, Bramwell Tovey, Pinchas Zukerman, and many others. At Oxford, 
				he won the annual competition to become principal conductor of the Oxford University Philharmonia. Under his leadership, 
				the Philharmonia's performances and tours received international press and acclaim. Mann studied with Alan Hazeldine of 
				London's Guildhall School of Music and Drama, Colin Metters at the Royal Academy of Music, and Marios Papadopolous of the 
				Oxford Philomusica. He worked with Leonard Slatkin and the National Symphony Orchestra at the Kennedy Center's National 
				Conducting Institute and Michael Tilson Thomas at the New World Symphony. Mentorship with Esa-Pekka Salonen and Jorma Panula 
				followed at the Los Angeles Philharmonic's Conducting Masterclasses, and Robert Spano with the Atlanta Symphony Orchestra's 
				international Mozart Requiem masterclass for the League of American Orchestras annual conference. He has also worked under Imre 
				Pallo, David Effron, John Poole, and Thomas Baldner at Indiana University, where he was appointed visiting lecturer in orchestral 
				conducting, and worked as assistant conductor at the IU Opera Theater. Additional studies came under the Bolshoi Theater's music 
				director, Alexander Vedernikov at the Moscow State Conservatory, Gustav Meir, Kenneth Keisler, and with Pulitzer Prize winning 
				composer Robert Ward. He is the recipient of numerous awards including commendations from several cities, and the state of California.

		
			</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
