{% extends "themusic/themusic_base.html" %}

{% block title_detail %}
	Pre-Concert Talks
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
		<h2>American Airlines Concert Conversations</h2>
		<div id="talks-text">
			Please join the Maestro for American Airlines Concert Conversations one hour before each Masterworks concert.  
			These popular talks are a great opportunity to get some extra insight into the pieces, composers and artists  
			featured in the concert.  Seating is first come, first served, and admission is free to all ticket holders.  
			We look forward to seeing you there.
			<br/><br/>
			Please call (501)666-1761 Ext. 100 for more information.<br/>
			<br/>
			<img src="/media/images/concert_conversations.jpg" alt="American Airlines Concert Conversations"/>
		</div>
			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
