{% extends "base.html" %}


{% block title_detail %}
	The Music
{% endblock %}

{% block pre_nav %}

		<div id="navigation_highlight" style="margin-left: 317px; width: 112px;"></div>
			
{% endblock %}



{% block left_nav %}
	<div id="navigation_highlight_dark" style="width: 870px;"></div>
	
	<table width="960" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="260" valign="top">
		<br>
			<div class="nav">
			<br>
				<ul class="left_nav">
				 	 <!--<li><a href="/themusic">The Music</a></li>--> 
                    <li><a href="/themusic/musicdirector">Music Director</a></li> 
                    <li><a href="/themusic/associate">Associate Conductor</a></li> 
                    <li><a href="/themusic/orchestra">The Orchestra</a></li> 
                    <li><a href="/themusic/notes/composer/">Program Notes</a></li> 
					<li><a href="/themusic/talks/">Pre-Concert Talks</a></li>
                    <li><a href="/welcome/">Philip Welcome Video</a></li>
                    <!--<li><a href="/themusic/talks">Pre-concert Talks</a></li>-->
                    <br>
					<li><a href="/">Home</a></li>
				</ul>
				
			</div>
		</td>
	
		
{% endblock %}
