{% extends "musicians/musicians.html" %}

	{% block musician-content %}
		<div id="mus-title">
			Complimentary Ticket Request Form
		</div><br/>
		
		<p>If there is capacity, complimentary tickets will be <b>available beginning on the Thursday before each concert and ending at 2:00pm on the Friday before the concert.</b></p>
		<a href="/media/2014-2015 Complimentary Ticket Policy.pdf">2014-2015 Complimentary Tickets Policy</a><br/>
		<br/>	
		<form action="" method="post">{% csrf_token %}
			{{  form.as_ul  }}
			<p><input type="submit" value="Submit request" /></p>
		</form>
		
	{% endblock %}
	
	{% block reveal %}
		

	{% endblock %}
