{% extends "base.html" %}


{% block title_detail %}
	Connect
{% endblock %}

{% block headerScripts %}
	<link rel="stylesheet" type="text/css" href="/media/css/stockphoto.css">
{% endblock %}

{% block pre_nav %}

		<div id="navigation_highlight" style="margin-left: 703px; width: 107px;"></div>
			
{% endblock %}



{% block left_nav %}
	<div id="navigation_highlight_dark" style="width: 870px;"></div>
	
	<table width="960" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="260" valign="top">
		<br>
			<div class="nav">
			<br>
				<ul class="left_nav">
					   <!--<li><a href="#">Be an Insider</a></li>--> 
		                    <!--<li><a href="#">Online Newsletter</a></li>--> 
		                    <!--<li><a href="#">Press Room</a></li> -->
					<li><a href="http://www.arsymphonyguild.org" target="_blank">Arkansas Symphony Orchestra Guild</a></li>
					<li><a href="http://www.symphonyguild.org" target="_blank">Hot Springs/Hot Springs Village Symphony Guild</a></li>
					<li><a href="http://www.facebook.com/arkansassymphony" target="_blank">Become a Fan on Facebook</a></li> 
		                    <li><a href="http://twitter.com/ARSymphony" target="_blank">Follow on Twitter</a></li> 
				<li><a href="http://www.arkansassymphony.org/insider/signup">ASO Insider E-Newsletter Signup</a></li>
		                    <li><a href="/connect/contactus">Contact Us</a></li> 
					<br>
					<li><a href="/">Home</a></li>
				</ul>
				
			</div>
		</td>
	
		
{% endblock %}
