{% extends "visit/visit_base.html" %}

{% block title_detail %}
	Plan your Visit
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;"><a name="top"></a>Maps and Directions to ASO Venues</div><br/><br/>
					
			<div style="font-size: 18px; color: #2d9bfd;">
				<a href="#trinity">Trinity Episcopal Cathedral (I.N.C. Series)</a><br/>
<br/>

				<a name="Robinson"></a>Robinson Center Music Hall
			</div>
			<br/><br/>
			The May 3-4 Acxiom Pops Live! Series concert, <em>Shower the People: The Music of James Taylor</em>, will be held at the Robinson Center Music Hall.<br/><br/>
		
				
			426 West Markham, Little Rock, AR  72201<br><br>
			<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=robinson+center+music+hall,+little+rock&sll=37.0625,-95.677068&sspn=55.718442,114.169922&ie=UTF8&hq=robinson+center+music+hall,&hnear=Little+Rock,+Pulaski,+Arkansas&z=15&iwloc=A" class="orange" target="_blank">Map and Directions from Google Maps</a>
			<br><br><br>
			
			
			
			<!--<span style="background-color:red; color:#FFFFFF"><b>MARKHAM STREET CLOSED FOR STREET PARTY NOVEMBER 10 & 11</b></span><br/><br/>
			The ASO will be hosting the 2nd Annual <a href="/street-party">Beer & Brats Street Party</a> before the concerts November 10 & 11.  
			Please use Spring Street to access the parking garage below the Doubletree Hotel as Markham Street  
			will be closed for the party.<br/><br/>-->		
	

			<b>From Conway</b><br>
			Take I-40 East to I-30 South (cross the Arkansas River).<br>
			Exit 141-A - Convention Center. Follow the signs that say Convention Center (traveling west on 2nd Street, 5 blocks to Spring Street and turn right, traveling north to Markham). Robinson Center Music Hall is located at the corner of Broadway & Markham (next door to the DoubleTree Hotel).
			<br><br>
			
			<b>From Searcy</b><br>
			Take Hwy 67 South to I-30 South (cross the Arkansas River).<br>
			Exit 141-A - Convention Center. Follow the signs that say Convention Center (traveling west on 2nd Street, 5 blocks to Spring Street and turn right, traveling north to Markham). Robinson Center Music Hall is located at the corner of Broadway & Markham (next door to the DoubleTree Hotel).
			<br><br>
			
			<b>From Benton</b><br>
			Take I-30 North.<br>
			Exit 141-A - Convention Center. Follow the signs that say Convention Center (traveling west on 2nd Street, 5 blocks to Spring Street and turn right, traveling north to Markham). Robinson Center Music Hall is located at the corner of Broadway & Markham (next door to the DoubleTree Hotel).
			<br><br>
			
			<b>From Pine Bluff</b><br>
			Take Hwy 65 North to I-30 North.<br>
			Exit 141-A - Convention Center. Follow the signs that say Convention Center (traveling west on 2nd Street, 5 blocks to Spring Street and turn right, traveling north to Markham). Robinson Center Music Hall is located at the corner of Broadway & Markham (next door to the DoubleTree Hotel).
			<br><br>
			
			<b>From West Little Rock</b><br>
			Take I-630 East.<br>
			Exit Broadway and travel north to Markham. <br>
			Robinson Center Music Hall is located at the corner of Broadway & Markham (next door to the DoubleTree Hotel).
			<br><br>
			
			<br><br>
			
			<div style="font-size: 18px; color: #2d9bfd;">
				<a name="Clinton"></a>Clinton Presidential Center
			</div>
			<br/>
			<a href="#top" class="orange">Back to top</a><br/><br/>
			<i>River Rhapsodies Chamber Series concerts are held in the Great Hall 
			of the Clinton Presidential Center.</i><br/><br/>
			
			41200 President Clinton Avenue, Little Rock, AR 72201<br><br>
			<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Clinton+presidential+library,+Little+Rock,+AR&sll=37.0625,-95.677068&sspn=55.718442,114.169922&ie=UTF8&hq=William+J+Clinton+Library&hnear=William+J+Clinton+Library,+Little+Rock,+Arkansas&z=15&iwloc=A" class="orange" target="_blank">Map and Directions from Google Maps</a>
			<br><br><br>
			
		<b>From the South</b><br>
		I-30 into Little Rock.<br>
		Exit 141A (Clinton Ave.) off I-30 overpass.<br>
		The Clinton Center is easily visible east of I-30 at this point. This exit splits. Loop to the right down to the stop sign on 2nd Street.<br>
		Go straight one block over on Ferry St. to stop sign.<br>
		Turn right on President Clinton Ave. and go straight.
		 <br><br>
		 
		<b>From the Northeast</b><br>
		 
		Coming from Highway 67 and I-40 West, merge left towards Little Rock onto I-30 crossing over the Arkansas River.<br>
		Take Exit 141A (Clinton Ave.) off I-30 overpass.<br>
		The Clinton Center is easily visible east of I-30 at this point. This exit splits.<br>
		Loop to the right down to the stop sign on 2nd Street.<br>
		Turn left; then left again on Ferry Street to stop sign.<br>
		Turn right on President Clinton Ave and go straight.
		 <br><br>
		 
		<b>From the Northwest</b><br> 
		I-40 East and merge right towards Little Rock onto I-30 crossing over the Arkansas River.<br>
		Take Exit 141A (Clinton Ave.) off I-30 overpass.<br>
		The Clinton Center is easily visible east of I-30 at this point. This exit splits.<br>
		Loop to the right down to the stop sign on 2nd Street. Turn left; then left again on Ferry Street to stop sign.<br>
		Turn right on President Clinton Ave and go straight.
		<br/><br/><br/><br/>
			
			
		<div style="font-size: 18px; color: #2d9bfd;">
			<a name="Capital"></a>Capital Hotel
		</div>
		<br/>
			<a href="#top" class="orange">Back to top</a><br/><br/>
		<i>The Capital Hotel hosts several casual chamber concerts that are free to the public.</i>
		<br/><br/>		
		The Capital Hotel<br/>
		111 W. Markham Street<br/>
		Little Rock, AR 72201<br/><br/>
		501-374-7474<br/><br/>

		<a href="http://www.capitalhotel.com/site/index.php?id=20">Click here for directions to the Capital Hotel.</a>
		<br/><br/><br/><br/>


		<div style="font-size: 18px; color: #2d9bfd;">
			<a name="UAMS"></a>UAMS
		</div>
		<br/>
			<a href="#top" class="orange">Back to top</a><br/><br/>
		<i>UAMS hosts the Dr. Ruth Marie Allen UAMS Chamber concerts</i>
		<br/><br/>		
		UAMS<br/>
		4301 W. Markham Street<br/>
		Little Rock, AR 72205<br/><br/>
		501-686-7000<br/><br/>
		<b>From Markham Street</b><br/>
		Turn south onto Hooper St.  Follow signs to Parking Lot 1.  
		Enter the lot, which goes underground.  Take the elevator 
		to the "top" of the parking Lot 1, which immediately adjoins 
		the back side of the lobby.  The Music Room is at the west 
		end of the lobby, behind the grand piano.<br/>
		<br/>
		<a href="http://www.uamshealth.com/mapsanddirections" class="orange">Click here for directions to UAMS.</a>
		<br/><br/><br/><br/>	
			
			
			
			
		
		<div style="font-size: 18px; color: #2d9bfd;">
			<a name="trinity"></a>Trinity Episcopal Cathedral
		</div>
		<br/>
			<a href="#top" class="orange">Back to top</a><br/><br/>
		<i>Intimate Neighborhood Concerts - Mozart by Candlelight</i>
		<br/><br/>		
		Trinity Episcopal Cathedral<br/>
		310 W. 17th St.<br/>
		Little Rock, AR 72206<br/><br/>
		501-372-0294<br/><br/>
		<b>Directions</b><br/>
		<br/>
		Take Interstate 630 to te Broadway exit. Turn left (south) on Broadway (away from Downtown). Proceed to the intersection of Broadway and 17th street, and turn left onto 17th street. The Cathedral is located one block on your left, at the corner of 17th and Spring Streets.
		<a href="http://www.trinitylittlerock.org/contact-us/" class="orange">Click here for the directions page on Trinity Episcopal Cathedral's website.</a>
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
