{% extends "visit/visit_base.html" %}

{% block title_detail %}
	Plan your Visit
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;"><a name="top"></a>Trinity Episcopal Cathedral</div><br/><br/>
		<br/>
		<i>Intimate Neighborhood Concerts - Mozart by Candlelight</i>
		<br/><br/>		
		Trinity Episcopal Cathedral<br/>
		310 W. 17th St.<br/>
		Little Rock, AR 72206<br/><br/>
		501-372-0294<br/><br/>
		<b>Directions</b><br/>
		<br/>
		Take Interstate 630 to te Broadway exit. Turn left (south) on Broadway (away from Downtown). Proceed to the intersection of Broadway and 17th street, and turn left onto 17th street. The Cathedral is located one block on your left, at the corner of 17th and Spring Streets.
		<a href="http://www.trinitylittlerock.org/contact-us/" class="orange">Click here for the directions page on Trinity Episcopal Cathedral's website.</a><br/>
		<br/>
		<img src="/media/images/eblast/trinity.jpg" alt="Trinity Episcopal Cathedral"/>
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
