

{% extends "visit/visit_base.html" %}

{% block title_detail %}
	Maumelle Performing Arts Center
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br/>
			<br/>
			<div style="font-size: 24px; margin-bottom: 5px;"><a name="top"></a>Maumelle Performing Arts Center</div><br/>
			<br/>
			<i>All <a href="/season" alt="2014-2015 Stella Boyle Smith Masterworks Series">2014-2015 Stella Boyle Smith Masterworks Series Concerts</a> will be held in the Maumelle Performing Arts Center</i><br/>
			<br/>
			100 Victory Lane, Maumelle, AR  72113<br><br>
			<a href="https://www.google.com/maps/dir/34.807843,-92.3607904/Maumelle+High+School,+100+Victory+Ln,+Maumelle,+AR+72113/@34.8407524,-92.3810533,13z/am=t/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87d298772a19ff95:0x9178dad142dea4e5!2m2!1d-92.385153!2d34.862366" class="orange" target="_blank"><b>Map from Little Rock by Google Maps:</b></a><br/>
			<br/>			
			<iframe src="https://www.google.com/maps/embed?pb=!1m27!1m12!1m3!1d52393.852024935375!2d-92.38105330000003!3d34.84075240435292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m12!1i0!3e6!4m3!3m2!1d34.807843!2d-92.3607904!4m5!1s0x87d298772a19ff95%3A0x9178dad142dea4e5!2sMaumelle+High+School%2C+100+Victory+Ln%2C+Maumelle%2C+AR+72113!3m2!1d34.862366!2d-92.385153!5e0!3m2!1sen!2sus!4v1399577853513" width="600" height="400" frameborder="0" style="border:0"></iframe><br/>
			<br/>
			<b>Little Rock (I-430)</b><br/>
			Take Exit 12 and merge onto AR-100E (Maumelle Boulevard). Drive 4.8 miles and turn right onto Carnahan Drive. In one mile turn left onto Victory Lane (just past the Middle School), and Maumelle Performing Arts Center in on the right (at the high school campus).<br/>
			<br/>
			<b>From I-40</b><br/>
			Take Exit 142 and merge onto AR-365N/AR-100E (Maumelle Boulevard). Drive 2.1 miles and turn left onto Carnahan Drive. In one mile turn left onto Victory Lane (just past the Middle School), and Maumelle Performing Arts Center in on the right (at the high school campus).<br/>
			<br/>
			<a href="https://www.google.com/maps/dir/34.8896824,-92.3868563/Maumelle+High+School,+100+Victory+Ln,+Maumelle,+AR+72113/@34.8751221,-92.3919898,14z/am=t/data=!3m1!4b1!4m10!4m9!1m0!1m5!1m1!1s0x87d298772a19ff95:0x9178dad142dea4e5!2m2!1d-92.385153!2d34.862366!3e0!5i1" class="orange" target="_blank"><b>Click here for a map from the Conway side (I-40 from the West)</b></a><br/>
			<br/>
			<b>Maumelle Performing Arts Center</b><br/>			
			<br/>
			<img src="/media/images/venues/mpac_views.jpg" alt="MPAC Stage Views"/> 
			
			
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
