

{% extends "visit/visit_base.html" %}

{% block title_detail %}
	Connor Performing Arts Center
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;"><a name="top"></a>Pulaski Academy Connor Performing Arts Center</div><br/>
			<br/>
			<i>All <a href="/season" alt="2014-2015 Acxiom Pops Live! Series">2014-2015 Acxiom Pops Live! Series Concerts</a> will be held in the Connor Performing Arts Center</i><br/>
			<br/>
			12701 Hinson Road, Little Rock, AR 72212<br><br>
			<b><a href="https://www.google.com/maps/dir//Pulaski+Academy,+12701+Hinson+Rd,+Little+Rock,+AR+72212/@34.7624707,-92.4148518,15z/data=!4m12!1m3!3m2!1s0x87d2a117d70d7825:0x39b3007ba6b716af!2sPulaski+Academy!4m7!1m0!1m5!1m1!1s0x87d2a117d70d7825:0x39b3007ba6b716af!2m2!1d-92.412529!2d34.771802" class="orange" target="_blank">Map and Directions from Google Maps</a></b><br/>
			
			<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d13110.90776176692!2d-92.41485179265804!3d34.762470721744826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e6!4m0!4m5!1s0x87d2a117d70d7825%3A0x39b3007ba6b716af!2sPulaski+Academy%2C+12701+Hinson+Rd%2C+Little+Rock%2C+AR+72212!3m2!1d34.771802!2d-92.41252899999999!5e0!3m2!1sen!2sus!4v1399571042365" width="600" height="400" frameborder="0" style="border:0"></iframe><br/>
			<br/>
			<b>From I-430 Rodney Parham Exit</b><br/>
			Go West on Rodney Parham. Just as you pass Burger King on the right, you will come to the 
			intersection of Rodney Parham and Hinson Road. Go straight through the traffic light. 
			You are now on Hinson Road, and Pulaski Academy is on the left.<br/>
			<br/>
			<b>From I-640</b><br/>
			Heading West on I-630, take the I-430 North Exit. Once on I-430 take the Rodney Parham Exit. 
			Go West on Rodney Parham. Just as you pass Burger King on the right, you will come to the 
			intersection of Rodney Parham and Hinson Road. Go straight through the traffic light. 
			You are now on Hinson Road, and Pulaski Academy is on the left.<br/>
			<br/>
			<img src="/media/images/venues/cpac_views.jpg" alt="CPAC Stage Views"/> 
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
