{% extends "base.html" %}


{% block title_detail %}
	Plan your Vist
{% endblock %}

{% block pre_nav %}

		<div id="navigation_highlight" style="margin-left: 548px; width: 155px;"></div>
			
{% endblock %}



{% block left_nav %}
	<div id="navigation_highlight_dark" style="width: 870px;"></div>
	
	<table width="960" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="260" valign="top">
		<br>
			<div class="nav">
			<br>
				<ul class="left_nav">
					   <li><a href="/venue/trinitiy-episcopal-cathedral">Trinity Episcopal Cathedral</a></li>
					   <li><a href="/venue/maumelle-performing-arts-center">Maumelle Performing Arts Center</a></li>
					   <li><a href="/venue/pulaski-academy-connor-performing-arts-center">Pulaski Academy Connor Performing Arts Center</a></li>
					<br>
					<li><a href="/">Home</a></li>
				</ul>
				<br/>
				<br/>
				<br/>
				<br/>
				<center>
				<font size="1">Looking for things to do?</font>
				<br/>
				<br/>
				<a href="http://www.littlerock.com"><img src="{{  STATIC_URL  }}/images/sponsors/LRCVB_scaled.jpg" alt="Little Rock"></a>
				</center>
			</div>
		</td>
	
		
{% endblock %}
