
{% extends "education/education_base.html" %}

{% block title_detail %}
	ASO Quartet Demos
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<br><br>
		<div id="education_content">
			The Arkansas Symphony Orchestra has been a part of the music education landscape for many years.  Over the
			last ten years, we have been focused on bringing curriculum-based music programs to children throught the 
			state.  If the Arkansas Symphony Quartets have visited your school in the past, you are already familiar 
			with the quality programming we provide.  If we have never been to your school, you are in for a treat.<br/>
			<br/>
			Below are our offerings for the 2013-2014 school year, as well as a link to the (Arts in Education) Mini-Grant 
			Application for the Arkansas Arts Council, which many of our schools have found valuable in covering costs.  
			We are presenting four programs this year that we feel offer something valuable to every child from 2nd through 
			8th grade, are linked to Arkansas Curriculum Guidelines, and are at a cost affordable to every school.<br/>
			<br/>
			<a href="http://www.arkansassymphony.org/media/education/music_of_the_people.zip">Click here to download</a> Music of the People supplements for teachers.<br/>
			<a href="http://www.arkansassymphony.org/media/education/story_time.zip">Click here to download</a> Story Time supplements for teachers.<br/>
			<a href="http://www.arkansassymphony.org/media/education/picturing_music.zip">Click here to download</a> Picturing Music supplements for teachers.<br/>
			<br/>
			<a href="http://www.arkansassymphony.org/media/arts_minigrant.pdf">Click here to download</a> the Arts in Education 
			Minigrant Application<br/>
			<br/>
			<img src="{{ MEDIA_URL  }}images/education/demo_flyer.jpg" alt="ASO Quartet Demos"/>
		</div>

	</td>	
	</tr>
	</table>	
{% endblock %}	
