{% extends "education/education_base.html" %}

{% block title_detail %}
	Audition Information
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">Audition Information</div><br/><br/>

<a href="/media/asyo_application.pdf" class="orange">ASYO Application</a><br/>
<a href="/media/asyo_scholarship.pdf" class="orange">ASYO Scholarship Application</a><br/>
<a href="/media/smith_application.pdf" class="orange">Stella Boyle Smith Young Artists Competition Application</a><br/>			
<a href="/media/auditionapplication.pdf" class="orange">Audition Application</a><br/><br/>
<a href="/media/auditioninfo.pdf" class="orange">Download Audition Information as PDF</a><br/><br/>

Auditions are held twice yearly in January and June.  June auditions are for all students 
desiring to audition for entrance into the Prelude, Academy or Youth Orchestras, OR to move up
to the next level.  January auditions are for those string students wishing to enter as a new student
in either Academy or Youth Orchestras.  To ensure the continuity of the program within each group, students are not allowed to move from one orchestra to another mid-year except under extraordinary
circumstances.  
<br/><br/>
Reservations for auditions must be made in advance.  The ASYO audition form and the $20 audition fee must be sent to the ASO offices prior to the audition date.  It is not necessary for a student to
re-audition each year for entrance to the ASYO Program.  And audition is required only when a student wishes to move from one level to another.
<br/><br/><br/>
<div style="font-size: 18px; color: #2d9bfd;"> 
Audition Requirements
</div><br/>
<b>Preparatory Orchestra</b><br/>
This orchestra is specifically for beginning string players.  Students need to have studied their instruments for at least one year, to have learned at least two sharps in first position, and be 
reading music.  A written recommendation from a teacher is required.  All recommendation letters must be sent no later than August of each year, for entrance in the fall.  Please send recommendations 
to the ASYO offices at PO Box 7328, Little Rock, AR  72217.  Attn:  Youth Orchestra
<br/><br/>
<b>Prelude Orchestra - for students 4th through 8th grade</b><br/>
An audition is required for entrance to the Prelude Orchestra.  Students need to have studied
their instruments for at least 2 years and demonstrate, in their audition, two sharps and two flats
in first position.  Experience in third position is desired but not required.  Students in this group MUST be able to read music.  Audition must include:  One major scale, 2 octaves and two prepared 
pieces or movements of contrasting style and tempo.  Sight reading is also a part of the audition.
<br/><br/>
<b>Academy Orchestra - for students in grades 7th through 12th grade.</b><br/>
It is expected that STRING STUDENTS reaching the end of their sophomore year would audition for Youth Orchestra, thereby allowing spots for incoming string players.
<br/><br/>
The Academy Orchestra is the intermediate level ensemble with a full complement of strings, woodwinds, brass and percussion.  Entrance is by audition only.  String players must demonstrate facility 
above 1st position and in keys up to 4 sharps and 4 flats.  The audition should include a major scale, 2 -3 octaves, one melodic minor scale, 2 . 3 octaves;  and two prepared pieces or movements of 
contrasting style and tempo.  Sight-reading will also be required.  Students should be playing at the level required for All-Region Band.

<br/><br/>
<b>Youth Orchestra - for students 8th through 12th grade</b><br>
The Youth Ensemble consists of the most advanced string, woodwind, brass and percussion players from around the state.  Entrance is by audition only and for those whose audition demonstrates standards 
typically required to make the All-state Orchestra or the All-State Symphonic Band.  One major scale, 2 . 3 octaves; one melodic minor scale, 2 . 3 octaves; two prepared pieces or movements of 
contrasting style and tempos, unaccompanied; and sight-reading are required for each audition.
			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
