{% extends "themusic/themusic_base.html" %}

{% block title_detail %}
	Casey Buck, Preparatory Orchestra Conductor
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			<div style="float: right; display: inline; padding: 40px;">
			</div>
			
			<div style="font-size: 24px; margin-bottom: 5px;">Casey Buck, Preparatory Orchestra</div><br><br>
Casey Buck, cellist, is both an avid performer and music educator. He studied cello with Allen Nisbet at Loyola University New Orleans, earning both his Bachelor of Music Education and Master of Music 
Performance degrees.
<br><br>
Mr. Buck performs primarily with the Arkansas Symphony Orchestra in Little Rock, where he is entering his fourth season as a section cellist. He has also had the opportunity to play in masterclasses 
for world-renowned cellists Lynn Harrell and Maria Kliegel, and has given solo and chamber music recitals both in Louisiana and in Arkansas.
<br><br>
As a music educator, he teaches orchestra and Music Theory with Conway Public Schools, with string students in grades six through twelve, and maintains a private cello studio in Conway. He also serves 
on the faculty of Arkansas Tech University, where he is the instructor of the string methods class and applied string lessons. Additionally, the 2008-2009 season was his first year as the director of 
the Preparatory Orchestra, an educational outreach of the Arkansas Symphony serving first- and second-year string players from all over central Arkansas.
<br><br>
Mr. Buck resides in Conway with his wife, Kristina Rose Buck (a classically-trained mezzo-soprano) and their dog, a West Highland White Terrier named Brady.			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
