{% extends "education/education_base.html" %}

{% block title_detail %}
	Children's Concerts
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br/><br/>
			<div style="font-size: 24px; margin-bottom: 5px;">Superheroes of the Orchestra Children's Concert</div><br><br>
				
			Experience the full 72-piece Arkansas Symphony Orchestra in concert showcasing the musical superheroes of the 
			orchestra!  Hear all your favorites, plus some new music with a fun twist!  There is nothing like a live performance 
			to inspire and excite.  Teacher supplements are provided for each school that participates to enhance the live concert 
			experience.  Give your students the chance of a lifetime!  Tickets are $5 per person.  Call now to register!<br/>
			<br/>
			<div style="text-align: center"><b>In-service training: Saturday, September 14, 2013</b></div>
			<br/>	
			<div class="event">	
			
				<font size="5">OCT 25</font><br/>
				<div style="font-size: 18px; color: #2d9bfd;">Little Rock</div>
				<font color="#2d9bfd">10:00 am, Robinson Center Music Hall</font><br/>
				<b>To schedule, contact Mary Millsap at (501) 580-6895</b><br/><br/>
				<font size="5">OCT 28</font><br/>
				<div style="font-size: 18px; color: #2d9bfd;">Hamburg</div>
				<font color="#2d9bfd">10:30 am, Hamburg Middle School</font><br/>
				<b>To schedule, contact Mary Millsap at (501) 580-6895</b><br/><br/>
				<font size="5">FEB 21</font><br/>
				<div style="font-size: 18px; color: #2d9bfd;">Little Rock</div>
				<font color="#2d9bfd">10:00 am, Robinson Center Music Hall</font><br/>
				<b>To schedule, contact Mary Millsap at (501) 580-6895</b><br/><br/>
				<font size="5">NOV 4</font><br/>
				<div style="font-size: 18px; color: #2d9bfd;">Hot Springs</div>
				<font color="#2d9bfd">10:00 am, Summit Arena</font><br><br>
				<b>To schedule, contact Martha Smither at (501) 922-2743</b>
				
				
	
			</div>	
			
			
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
