{% extends "base.html" %}


{% block title_detail %}
	Education
{% endblock %}

{% block pre_nav %}

		<div id="navigation_highlight" style="margin-left: 429px; width: 119px;"></div>
			
{% endblock %}



{% block left_nav %}
	<div id="navigation_highlight_dark" style="width: 870px;"></div>
	
	<table width="960" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="260" valign="top">
		<br>
			<div class="nav">
			<br>
				<ul class="left_nav">
			 	   <li><a href="/education">Programs</a></li> 
                    <li><a href="/education/freekids">Entergy Kids' Ticket</a></li>
		    <li><a href="/education/youngartist">Young Artist Competition</a></li>
                    <li><a href="/education/childrensconcerts">Children's Concerts</a></li>
                    <li><a href="/education/youthorchestras">Youth Orchestras</a></li>
                    <li><a href="/education/artspartners">ASO Quartet Demos</a></li>
                    <li><a href="/education/orchestraandyou">Orchestra and You</a></li>
                    <!--<li><a href="/education/childrensconcerts">Children's Concerts</a></li>--> 
			<li><a href="/education/teachers">Find a Teacher</a></li>
                    <br>
					<li><a href="/">Home</a></li>
				</ul>
				
			</div>

		<center>

                        <font size="1">Education Partners:</font>
                        <br><br>

			<a href="http://www.entergy.com"><img src="/media/images/entergy.png" alt="Entergy" border="0"></a><br><br><br>
			<a href="http://www.bankofamerica.com"><img src="/media/images/bofa.jpg" alt="Bank of America" border="0"></a><br><br><br>
			<img src="/media/images/rebsamen.jpg" alt="Rebsamen Fund" border="0"><br><br><br>
			<a href="http://www.spp.org"><img src="/media/images/spp.png" alt="Southwest Power Pool" border="0"></a><br><br><br>
			<a href="http://www.my100bank.com"><img src="/media/sponsor_images/Copy_of_Centennial_rgbcolor_.jpg" alt="Centennial Bank" border="0"></a><br><br><br>
			<a href="http://www.target.com"><img src="/media/images/target.png" alt="Target" border="0"></a><br><br><br>





                </center>


		</td>
	
		
{% endblock %}


