{% extends "themusic/themusic_base.html" %}

{% block title_detail %}
	James Hatch, Youth Orchestra Conductor
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			<div style="float: right; display: inline; padding: 40px;">
				<img src="/media/images/jameshatch.jpg" alt="James Hatch">
			</div>
			
			<div style="font-size: 24px; margin-bottom: 5px;">James Hatch, Youth Orchestra</div><br><br>
James Hatch's versatility as a performer,
teacher, and a conductor has given him many
opportunities to utilize his talents in Arkansas.
As Principal Double Bass in the Arkansas
Symphony Orchestra and Instructor of Double
Bass at the University of Central Arkansas, Mr. Hatch brings with
him a wealth of performing and teaching experience. He holds music
degrees from the University of Illinois and The Julliard School and is
very active as a public school music teacher. Along with his university
and performance responsibilities, Mr. Hatch is Orchestra Director at
Mills University Studies High School and the Conductor of the Arkansas
Youth Symphony Orchestra. Mr. Hatch was also the Instrumental Music
Conductor at the Arkansas Governor.s School from 1980 to 1999.			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
