{% extends "themusic/themusic_base.html" %}

{% block title_detail %}
	John Jarboe, Prelude Orchestra Conductor
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			<div style="float: right; display: inline; padding: 40px;">
			</div>
			
			<div style="font-size: 24px; margin-bottom: 5px;">John Jarboe, Prelude Orchestra</div><br><br>
John Jarboe holds a Bachelor of Music Education
and Master of Music degrees from Pittsburg
State University in Pittsburg, Kansas. He has
studied violin with Markwood Holmes and
Merton Shatzkin while at PSU and Henri
Temianka at California State University in Long Beach. Mr. Jarboe has
performed in symphonies on the west coast, east coast, the Nashville
Symphony, and was, for 15 years, a violinist in the Arkansas Symphony
Orchestra. He is a published Nashville songwriter and poet whose poetry
appears in the American Suzuki Journal and the American String Teacher.
He is currently employed as the Music Specialist/ Program Advisor in
the Arkansas Department of Education.			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
