{% extends "education/education_base.html" %}

{% block title_detail %}
	Find a Teacher
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">Find a Teacher</div><br><br>
			
<p>The Arkansas Symphony Orchestra would like to make finding a teacher easier for students of all ages.  Listed below are those ASO 
musicians who have requested to be listed on the Arkansas Symphony Orchestra's website.  This is not a complete list of those ASO 
musicians who teach, and the ASO does not recommend one group of teachers over the other, nor certify that each teaching relationship 
will be the best one for you or your child.  A productive student/teacher relationship takes place over time and must include a frank 
and honest discussion of student and teacher goals and objectives.</p>
<br>
<h3>STRINGS</h3>
<p><b>Violin</b></p>
Drew Irvin<br>
<a href="mailto:drewirvin@gmail.com" class="medblue">drewirvin@gmail.com</a>
<br><br>

Kiril Laskarov<br>
<a href="mailto:laskarov@hotmail.com" class="medblue">laskarov@hotmail.com</a><br>
(501) 944-6557
<br><br>
Sandy McDonald - Suzuki and Traditional Violin<br>
<a href="mailto:sandy.mcdonald416@gmail.com" class="medblue">sandy.mcdonald416@gmail.com</a><br/>
(501) 350-7381
<br><br>
<!--Leanne Day<br>
<a href="mailto:leeday80@gmail.com" class="medblue">leeday80@gmail.com</a><br>
(501) 425-3601
<br><br>-->
Tatiana Kotcherguina<br>
<a href="mailto:tatktch@att.net" class="medblue">tatktch@att.net</a><br>
(501) 590-7702
<br><br>
Algis Staskevicious<br>
<a href="mailto:algiss65@att.net" class="medblue">algiss65@att.net</a><br>
(501) 590-5117
<br><br>

Mike Burkepile<br>
<a href="mailto:mburkepile@gmail.com" class="medblue">mburkepile@gmail.com</a><br>
(205) 855-9454<br>
Lives in Conway, AR
<br><br>

Will Bush<br>
<a href="mailto:williambushiv@hotmail.com" class="medblue">williambushiv@hotmail.com</a><br>
Lives in Springdale, AR<br>
Teaches classical and fiddling . all ages
<br><br>	

Ryan Mooney<br>
<a href="mailto:chmus_ryan@hotmail.com" class="medblue">chmus_ryan@hotmail.com</a><br>
(501) 650-2105
<br><br>

Magdalena Ryszkowski<br>
<a href="mailto:mczajkowska75@yahoo.com" class="medblue">mczajkowska75@yahoo.com</a><br>
(501) 352-6014
<br><br>

<p><b>Viola</b></p>
Karen Griebling<br>
<a href="mailto:Griebling@hendrix.edu" class="medblue">Griebling@hendrix.edu</a><br>
Limited openings in studio
<br><br>

Joe Joyner<br>
<a href="mailto:joejoyner@hotmail.com" class="medblue">joejoyner@hotmail.com</a><br>
(501) 372-4168
<br><br>

Tatiana Kotcherguina<br>
<a href="mailto:tatktch@att.net" class="medblue">tatktch@att.net</a><br>
(501) 590-7702
<br><br>

Kater Reynolds<br>
<a href="mailto:katerviola@gmail.com" class="medblue">katerviola@gmail.com</a><br>
Teaches at UCA, Fuller MS and Mills HS, and at home
<br><br>

Ryan Mooney<br>
<a href="mailto:chmus_ryan@hotmail.com" class="medblue">chmus_ryan@hotmail.com</a><br>
(501) 650-2105
<br><br>

<p><b>Cello</b></p>
Dan Cline<br>
 <a href="mailto:dan@celloville.com" class="medblue">dan@celloville.com</a><br>
(501) 960-7577
<br><br>

David Gerstein<br>
<a href="mailto: david.gerstein@me.com" class="medblue">david.gerstein@me.com</a><br><br>

Rafael Leon<br>
<a href="mailto:lrcasaleon@aol.com" class="medblue">lrcasaleon@aol.com</a><br>
(501) 663-2680
<br><br>

Casey Buck<br>
<a href="mailto:cabuck@gmail.com" class="medblue">cabuck@gmail.com</a><br>
In Conway (501) 548-6080
<br><br>

<p><b>Bass</b></p>
Barron Weir<br>
<a href="mailto:rbwbnd@mail.umkc.edu" class="medblue">rbwbnd@mail.umkc.edu</a><br>
(816) 797-1475
<br><br>
<br>
<h3>WOODWINDS</h3>

<p><b>Flute</b></p>
Carolyn Brown<br>
<a href="mailto:carolynb@uca.edu" class="medblue">carolynb@uca.edu</a>
<br><br>

Barry McVinney<br>
Home (501) 223-2574 or Cell (501) 343-6189
<br><br>

<p><b>Clarinet</b></p>
Kelly Johnson<br>
<a href="mailto:Kjohnson@uca.edu" class="medblue">Kjohnson@uca.edu</a>
<br><br>
Lyle Wong<br>
<a href="mailto:lylecwong@gmail.com" class="medblue">lylecwong@gmail.com</a><br>
(734) 730-8733
<br><br>



<p><b>Bassoon</b></p>
Beth Martinez<br>
<a href="mailto:phantagrae@earthlink.net" class="medblue">phantagrae@earthlink.net</a><br>
(501) 374-6725
<br><br>

<p><b>Saxophone</b></p>
Barry McVinney<br>
Home (501) 223-2574 or Cell (501) 343-6189
<br><br><br>
<h3>BRASS</h3>
<p><b>Horn</b></p>
David Renfro<br>
<a href="mailto:davidmrenfro@gmail.com" class="medblue">davidmrenfro@gmail.com</a><br>
(501) 551-5300
<br><br>

Brent Shires<br>
<a href="mailto:bshires@uca.edu" class="medblue">bshires@uca.edu</a><br>
Office (501) 450-5768 Cell: (501) 472-3350
<br><br>


<p><b>Trombone</b></p>
Michael Underwood<br>
<a href="mailto: mpunderwood@ualr.edu" class="medblue">mpunderwood@ualr.edu</a><br>
(501) 569-3301<br><br>


<p><b>Trumpet</b></p>
Dick Jorgensen<br>
<a href="mailto:rjorgens@astate.edu" class="medblue">rjorgens@astate.edu</a><br>
(870) 972-3772<br>
In Jonesboro, AR
<br><br>

Carl Mason<br>
<a href="mailto:cmason6260@sbcglobal.net" class="medblue">cmason6260@sbcglobal.net</a><br>
Teaches all brass instruments<br>
In Hoxie, AR
<br><br>

<p><b>Tuba</b></p>
Ed Owen<br>
<a href="mailto:eowen@astate.edu" class="medblue">eowen@astate.edu</a><br>
(870) 926-0622<br>
Also teaches euphonium<br>
In Jonesboro, AR and Bryant, AR
<br><br><br>

<h3>PERCUSSION</h3>
<br>
Evan Barr<br>
<a href="mailto:barrperc@aol.com" class="medblue">barrperc@aol.com</a><br>
(501) 246-6386
			
	<br><br><br>

<h3>HARP</h3>
<br>
Alisa Coffey<br>
<a href="mailto:alisa.coffey@gmail.com" class="medblue">alisa.coffey@gmail.com</a><br>
(703) 606-0769
<br><br>
			
			
			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
