{% extends "education/education_base.html" %}

{% block title_detail %}
	Orchestra and You
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">Orchestra and You</div><br><br>
			
			<div style="font-size: 18px; color: #2d9bfd;">
					Designed Especially for 1st-3rd Graders
				</div>
				<br>
			Co-sponsored by the ASO Guild, this FREE program introduces children to all of the instruments in an
			orchestra. Guild members organize students into an orchestra using plastic instruments, and one lucky
			student gets to lead peers as the conductor! This program also features a visit by a Symphony musician.
			
			<br><br>
			To schedule this program, please contact Jo Sears-Harkins at (501) 425-8964. Available only in Pulaski County.
			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
