{% extends "education/education_base.html" %}

{% block title_detail %}
	Education Programs
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">Education Programs</div><br><br>
			
			
			<table width="540" cellpadding="10" cellspacing="0" border="0">
			<tr>
				<td width="250" bgcolor="#ecf4ff">
					
						<a href="/education/freekids"><img src="/media/images/education_freeconcerts.jpg" alt="Free Concerts for Kids" border="0"></a>
						<br><br>
						<center><a href="/education/freekids" class="blue">Free Concerts for Kids</a></center>
					
				</td>
				
				<td width="40"></td>
				<td width="250" bgcolor="#ecf4ff">
			
					
						<a href="/education/childrensconcerts"><img src="/media/images/education_kidsconcerts.jpg" alt="Children's Concerts" border="0"></a>
						<br><br>
						<center><a href="/education/childrensconcerts" class="blue">Children's Concerts</a></center>
					
				</td>
			</tr>
			</table>
			
			<br><br>
			<table width="540" cellpadding="10" cellspacing="0" border="0">		
			<tr>
				<td width="250" bgcolor="#ecf4ff">
				
					
						<a href="/education/quartet-visits"><img src="/media/images/education_artspartners.jpg" alt="Arts Partners" border="0"></a>
						<br><br>
						<center><a href="/education/artspartners" class="blue">ASO Quartet Demos</a></center>
					
				</td>
				
				<td width="40"></td>
				
				<td width="250" bgcolor="#ecf4ff">
					
					
						<a href="/education/orchestraandyou"><img src="/media/images/education_orchandyou.jpg" alt="Orchestra and You" border="0"></a>
						<br><br>
						<center><a href="/education/orchestraandyou" class="blue">Orchestra and You</a></center>
					
				</td>
			</tr>
			</table>
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
