{% extends "education/education_base.html" %}

{% block title_detail %}
	Stringed Instrument Drive
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">ASO Launches Stringed Instrument Drive<br/></div>
			<div style="font-size: 16px; margin-bottom: 5px;">Effort Underway to Ensure Elementary Students Have Music Education<br><br></font>
			<br/>
			<br/>
			<div style="font-size: 12px;"><p><b>May 7, 2013</b> - The Arkansas Symphony Orchestra, in partnership with the Thea Foundation, launched its <b><em>Stringed Instrument Drive</em></b> today.  The goal is to collect gently-used instruments and garner support for ASO's music education programs in area elementary schools.<br/></p>
			    <p>"By providing children with these instruments, we ensure that everyone has a chance to pursue their musical and artistic dreams regardless of their ability to pay," said Philip Mann, ASO Music Director and Conductor.  "The next Yo-Yo Ma, Midori, or Itzhak Perlman could be right here just waiting for the opportunity to play.  We want to provide that opportunity."<br/><br/></p>
			<p>There are three ways people can participate in the <b><em>Stringed Instrument Drive.</em></b><br/>
			<ol>
				<li>Bring a gently-used stringed instrument to the ASO/Youth Orchestra <em>Side By Side Concert</em> on Friday, May 10, at 7 p.m. at Robinson Center Music Hall and get a pair of ASO free ticket vouchers.</li>
				<li>Purchase a Violin Kit from Little Rock Violin Shop at a special campaign price of $250 (a $350 value).  Supporters can purchase these kits online at <a href="http://www.littlerockviolinshop.com/instrumentdrive.php">LittleRockViolinShop.com</a>.</li>
				<li>Make a financial contribution towards the purchase of Violin Kits.  This donation can be made at the <em>Side By Side Concert</em> or online at <a href="http://www.littlerockviolinshop.com/instrumentdrive.php">LittleRockViolinShop.com</a>.</li>
			</ol></p>
			<br/>
			<p>The instruments will be distributed to elementary schools in Little Rock and North Little Rock through the Thea Foundation's Arts Reconstruction Program.  The goal of the this program is to put the arts back into schools.  Currently three schools are participating in the Stringed Instrument Drive.  They are Boone Park and Pikeview Elementary Schools in North Little Rock and Rockefeller Elementary School in Little Rock.  Thea Foundation Executive Director Paul Leopoulos hopes the program will grow to include all schools in the area.<br/></p>
			<p>"We know that schools are continually asked to cut funding to arts programs," said Leopoulos.  "That's why it is so important for organizations like ASO and Thea to do our parts to keep music education in schools."<br/></p>
			<p>The <b><em>Stringed Instrument Drive</b></em> will continute throughout the month of May.  For more information about the ASO's Education Programs or how to participate in the drive, call Barbara Burroughs at 501-666-1761, extension 116 or visit <a href="http://www.arkansassymphony.org/education">www.ArkansasSymphony.org</a>.</p>
			</div>	
	<img src="/media/images/cutekid_violin.jpg" alt="Child with a Violin"/>
				
				
			
				
	
			
			<div style="width: 350px;">
			</div>
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
