{% extends "themusic/themusic_base.html" %}

{% block title_detail %}
	Tom McDonald, Academy Orchestra Conductor
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			<div style="float: right; display: inline; padding: 40px;">
			</div>
			
			<div style="font-size: 24px; margin-bottom: 5px;">Tom McDonald, Academy Orchestra</div><br><br>
Tom McDonald has been a violinist in the
Arkansas Symphony since 1976 and an orchestra
director in the Little Rock Public Schools since
1978. He currently teaches at Central High,
Mann Middle School, and Dunbar Middle School.
For the past three years he has served on the music faculty at Arkansas
Governor.s School. He also serves as Concertmaster of the Pine Bluff
Symphony and is a former director of the Pine Bluff Youth Orchestra.
Tom has a son Thomas, also a violinist.			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
