{% extends "education/education_base.html" %}

{% block title_detail %}
	Stella Boyle Smith Young Artist Competition
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">Stella Boyle Smith Young Artist Competition</div><br><br>
				
			The Arkansas Symphony Orchestra Guild presents the 2014 Stella Boyle Smith Young Artist Competition, a statewide talent competition for Piano, String, Woodwinds, and Brass.
<br><br>
The Arkansas Symphony Orchestra Guild awards the following cash prizes:<br/></br>
Preliminary: $250 to the winner in each of the four categories<br/><br/>
Final:<br/>
    $750 First Place<br/>
    $500 Second Place
<br><br><br>

<a href="/media/smith_application.pdf" class="orange">Application Form</a>
<br><br><br>

<div style="font-size: 18px; color: #2d9bfd;">Application Deadline</div><br>
February 7, 2014
<br><br><br>

<div style="font-size: 18px; color: #2d9bfd;">Eligibility</div><br>
Contestants must be residents of the state of Arkansas and between the ages of 12 and 18.  Contestants may not reach their 19th birthdays by March 2, 2013.
<br><br><br>

<div style="font-size: 18px; color: #2d9bfd;">Application Procedure</div><br>
Preliminary audition and Final will be by live performance on Saturday March 1, 2013 at the University of Arkansas at Little Rock.
<br><br>
Preliminary performances are open only to families and teachers of the performers.  The Final is open to the public.<br/><br/>
No specific repertoire is required, but selections must be a movement of a composition for solo instrument and orchestra and performed from memory.<br/><br/>
Contestants are required to provide their own pianists to perform orhcestra reductions.<br/><br/>
Mail the application and a non-refundable $20 check made payable to the Arkansas Symphony Orchestra Guild to:<br><br>
Stella Boyle Smith Young Artists Competition<br>
Jeannine Stephens<br/>
Cromwell Architects<br/>
1015 Spring Street<br/><br/>
Little Rock, AR 72201<br/>
(501)372-2900
<br/><br/><br/>

<div style="font-size: 18px; color: #2d9bfd;">Performance of Finalists</div><br>
<table width="400" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="100" valign="top">Date:</td>
		<td width="300">Saturday, March 1, 2014<br></td>
	</tr>
	<tr>
		<td width="100" valign="top"><br>Time:</td>
		<td width="300"><br>Practice areas open from 8:00 AM<br></td>
	</tr>
	<tr>
		<td width="100" valign="top"><br>Location:</td>
		<td width="300"><br>Fine Arts Building<br>UALR campus<br>28th and University Avenue<br>Little Rock, Arkansas</td>
	</tr>
	<tr>
		<td width="100" valign="top"><br>Divisions:</td>
		<td width="300"><br><b>Piano/Percussion</b><br><b>Strings</b><br><b>Woodwinds</b><br><b>Brass</b></td>
	</tr>
</table>
<br><br><br>

<div style="font-size: 18px; color: #2d9bfd;">More Information</div><br>
Jeannine Stephens, Chair<br>
Stella Boyle Smith Young Artists Competition<br>
(501) 372-2900<br>
<a href="mailto:bburroughs@arkansassymphony.org">bburroughs@arkansassymphony.org</a>
	
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
