{% extends "education/education_base.html" %}

{% block title_detail %}
	Youth Orchestras
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">Youth Orchestras</div><br><br> 			
			

<a href="/asyo/members/" class="orange"><b>Register Online!</b></a><br/>
<br/>
<a href="{{  MEDIA_URL  }}handbook.pdf" class="orange">2013-2014 ASYO Handbook</a><br/>
<br/>
<a href="/education/auditions/" class="orange">Audition Information and Forms</a><br/>
<br/>
The Arkansas Youth Orchestras began as a dream of the ASO's founders in the 1960's and today continues to attract Arkansas' leading student-musicians.  Ranging in age from 9-18 
and traveling from over 37 communities throughout the state, the ASYO has grown to over 200 members.
<br><br>
For more information, please contact <a href="mailto: bburroughs@arkansassymphony.org" class="orange">Barbara Burroughs</a> at (501) 666-1761 ext. 116.
<br><br><br><br>


<div class="subscription">
<div style="font-size: 18px; color: #2d9bfd;"> 
	Preparatory Orchestra
</div>
<br>
<a href="/education/youthorchestras/caseybuck/" class="medBlue">Casey Buck, Conductor</a><br><br>

Strings-only ensemble of beginning players, totals 70 students and entrance is by teacher recommendation only.<br><br>
<a href="/education/youthorchestras/schedule/preparatory/" class="smallBlue">Rehearsal and Concert Schedule</a>
</div>
<br><br>

<div class="subscription">
<div style="font-size: 18px; color: #2d9bfd;">
        Prelude Orchestra
</div>
<br>
<a href="/themusic/orchestra/1/" class="medBlue">Kiril Laskarov</a> and <a href="/themusic/orchestra/2/" class="medBlue">Andrew Irvin</a>, Conductors<br><br>

A strings-only group for students in 4th through 8th grades.  Students need to have studied their instruments for at least 2 years.
<br><br>
<a href="/education/youthorchestras/schedule/prelude/" class="smallBlue">Rehearsal and Concert Schedule</a>
</div>
<br><br>

<div class="subscription">
<div style="font-size: 18px; color: #2d9bfd;">
	Academy Orchestra
</div>
<br>
<a href="/education/youthorchestras/tommcdonald/" class="medBlue">Tom McDonald, Conductor</a><br><br>
An intermediate-level group that is a complete ensemble of woodwind, brass, string, and percussion players who must audition for a spot in the group.<br><br>
<a href="/education/youthorchestras/schedule/academy/" class="smallBlue">Rehearsal and Concert Schedule</a>
</div>
<br><br>

<div class="subscription">
<div style="font-size: 18px; color: #2d9bfd;">
	Arkansas Symphony Youth Orchestra
</div>
<br>
<a href="/themusic/associate/" class="medBlue">Geoffrey Robson, Conductor</a><br><br>
The most advanced Youth Orchestra boasts some of the top student musicians in the state.  Musicians in this group consistently place at the top of the All-State Band and Orchestra Competition and are 
leaders in their schools and communities.<br><br>
<a href="/education/youthorchestras/schedule/youth/" class="smallBlue">Rehearsal and Concert Schedule</a>
</div>

		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
