{% extends "support/support_base.html" %}

{% block title_detail %}
	Donor Benefits
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">Donor Benefits</div><br><br>
			
			<div style="font-size: 17px; margin-bottom: 5px;">Philip Mann Society ($5,000)</div>
			<i>-Attend an exclusive dinner with Music Director Philip Mann</i><br>
			<i>-Sit on stage with the orchestra at a rehearsal in Robinson Center Music Hall</i><br>
			<i>-Enjoy a meal with the orchestra after a rehearsal</i><br>
			<i>-Receive special recognition in all ASO concert playbills as an orchestra musician sponsor</i>
			
			<br><br><br>
			
			<div style="font-size: 17px; margin-bottom: 5px;">Maestro’s Circle ($2,500)</div>
			<i>Inclusion on the VIP invitation list and invitation to a private reception with guest artists</i>
			
			<br><br><br>
			
			<div style="font-size: 17px; margin-bottom: 5px;">Conductor’s Club ($1,250)</div>
			<i>Intermission Club membership</i><br>
			<i>Complimentary parking at all concerts</i>
			
			<br><br><br>
			
			<div style="font-size: 17px; margin-bottom: 5px;">Supporting ($750)</div>
			<i>Adopt-a-Musician reception</i><br>
			<i>Invitation to VIP season announcement</i>
			
			<br><br><br>
			
			<div style="font-size: 17px; margin-bottom: 5px;">Associate ($500)</div>
			<i>Maestro’s Choice CD</i>
			
			<br><br><br>
			
			<div style="font-size: 17px; margin-bottom: 5px;">Participating ($250)</div>
			<i>Invitation to private ASO appreciation rehearsal and two receptions</i>
			
			<br><br><br>
			
			<div style="font-size: 17px; margin-bottom: 5px;">Friend ($100)</div>
			<i>Name listed in playbill</i>
			<br><br><br>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
