{% extends "support/support_base.html" %}

{% block title_detail %}
	Symphony Designer House
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">Symphony Designer House</div><br><br>
			
			
			Symphony Designer House XXI, a premier Arkansas event since 1974, will open its doors on April 15 and run until May 8th. This major biennial event is a forum for Arkansas. 
premier interior and landscape designers. This year's theme is "Rediscovering Home." Over 30 designers will come together to display contemporary and classic artistry in home design. The home will 
also display local culinary talent, with local celebrity chefs offering delectible meals at Bach's Lunch Tea Room. 
<br><br>
There will be a series of special group events which include four evening events; the 
Crescendo Party, Thirsty Thursday Party, the Young Professionals Party and the Girl's Night-Out Party. We will also have a Mother's Day Tea to be offered in the Bach's Tea Room. The traditional "Bare 
Bones" party to celebrate the opening of the house will be on February 24th in the evening. During operational hours our Go for Baroque Gift Shop will be open.
Proceeds from this event support the Arkansas Symphony Orchestra. 
<br><br>
This year, the home - 23 Edgehill Road . showcases the prestigious Edgehill neighborhood.  The home will be open for individual tours from 10 am until 3 pm Tuesday through Saturday and Sunday 1pm .
4pm.  Group discounts are available for parties of more than 10.
<br>

<br>
<div style="font-size: 18px; color: #000000;">Tickets</div><br>
<a href="https://tickets.arkansassymphony.org/public/loader.asp?target=hall.asp?event=379" class="medBlue" target="_blank">One Day Pass: $20</a><br>
<a href="https://tickets.arkansassymphony.org/public/loader.asp?target=hall.asp?event=380" class="medBlue" target="_blank">Run of Show: $35</a><br><br>
<b>click: </b><a href="http://tickets.arkansassymphony.org/public/default.asp?cgCode=8&cgName=Designer House" class="medBlue" target="_blank">Order Online</a><br>
<b>call: </b>(501) 666-1761 ext. 301<br>
<b>visit: </b>Hanks Fine Furniture (1000 S. Bowman Road)
<br><br><br>



<div class="event">
<font size="5">APRIL 27</font><br>

                                <div style="font-size: 18px; color: #2d9bfd;">Admin. Professionals Day</div>

                                <font color="#2d9bfd">Treat your staff or suggest this to businesses you know - a house tour and lunch!<br>Lunch and Tour: $30</font><br><br>

                                <a href="https://tickets.arkansassymphony.org/public/loader.asp?target=hall.asp?event=378" class="medBlue" target="_blank">Order Tickets</a>
</div><br><br>

<div class="event">
<font size="5">APRIL 28</font><br>

                                <div style="font-size: 18px; color: #2d9bfd;">Thirsty Thursday</div>

                                <font color="#2d9bfd">With the Rockefeller String Quartet<br>When: 5-7pm&nbsp;&nbsp;&nbsp;&nbsp;Cost: $25</font><br><br>

                                <a href="https://tickets.arkansassymphony.org/public/loader.asp?target=hall.asp?event=346" class="medBlue" target="_blank">Order Tickets</a>
</div><br>
<div class="event">
<font size="5">APRIL 29</font><br>

                                <div style="font-size: 18px; color: #2d9bfd;">Young Professionals Party</div>

                                <font color="#2d9bfd">With the Tonya Leeks Band<br>When: 7-10pm&nbsp;&nbsp;&nbsp;&nbsp;Cost: 
$35</font><br><br>

                                <a href="https://tickets.arkansassymphony.org/public/loader.asp?target=hall.asp?event=347" class="medBlue" target="_blank">Order Tickets</a>
</div><br>

<div class="event">
<font size="5">MAY 5</font><br>

                                <div style="font-size: 18px; color: #2d9bfd;">Girls Night-Out</div>

                                <font color="#2d9bfd">With violinist John Jarboe<br>When: 7-9pm&nbsp;&nbsp;&nbsp;&nbsp;Cost: $50</font><br><br>

                                <a href="https://tickets.arkansassymphony.org/public/loader.asp?target=hall.asp?event=345" class="medBlue" target="_blank">Order Tickets</a>
</div><br>

<div class="event">
<font size="5">MAY 8</font><br>

                                <div style="font-size: 18px; color: #2d9bfd;">Mother's Day Tea</div>

                                <font color="#2d9bfd">With violinist Becky Mitchum and harpist Pat Qualls<br>When: 2-4pm&nbsp;&nbsp;&nbsp;&nbsp;Cost: $30</font><br><br>

                                <a href="https://tickets.arkansassymphony.org/public/loader.asp?target=hall.asp?event=348" class="medBlue" target="_blank">Order Tickets</a>
</div><br>

<br>
			
			
<a href="http://www.facebook.com/pages/Arkansas-Symphony-Designer-House-2011/135905426463688" class="orange">Arkansas Symphony Designer House on Facebook</a>
			
			
			
			
			
			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
