{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE XV:</B></P>

<P align=center><B>DRESS</B></P>



<P><B>Section 15.1 Clothing.</b><br>
(a) The purpose of a unified dress code is to present a professional and consistent appearance which allows the music to take center stage.  To that end, clothes, jewelry and hair ornaments that present a distraction shall be avoided. To avoid reflected lighting on stage, only minimal areas of skin shall be visible. To this end the following shall not be worn: low necklines and low scooped necklines, slits in skirts or dresses above the knee, sleeves shorter than three-quarter (&#190;) (reaching to the middle of the forearm) in length.<br>
(b) Musicians shall be neat, well groomed and properly attired at all concerts in accordance with the appropriate dress code provisions. Musicians shall present a professional image by providing well-maintained, non-faded attire. Women's attire shall be of a formal level appropriate to the formality of the men's attire (tails, tux, suit)</P>



<P><B>Section 15.2 Dress Code.</b>  The dress code shall be as follows:<br>
(a) <u>Masterworks:</u><br>
&nbsp;&nbsp;&nbsp;Men: Formal white tie consisting of a black tails jacket, black tuxedo pants, white dress shirt, white vest or vest front or white cummerbund, white tie, black dress shoes, and full calf-length black socks.<br>
&nbsp;&nbsp;&nbsp;Women: Black ankle-length to floor-length dress; or black dress blouse with ankle-length to floor-length black skirt or with black dress pants; black dress shoes with black hosiery. White dress blouses may be worn under black dress jackets. No leggings, stirrup pants, tights, jeans, or casual pants may be worn.<br>
(b) <u>Pops, evening runout, and special concerts:</u><br>
&nbsp;&nbsp;&nbsp;Men: Black tuxedo pants and jacket, solid white tuxedo shirt, black bow tie, black dress shoes, and full calf-length black socks. Black cummerbund or black vest may also be worn.<br>
&nbsp;&nbsp;&nbsp;Women: Black ankle-length to floor-length dress; or black dress blouse with ankle-length to floor-length black skirt or with black dress pants; black dress shoes with black hosiery. White dress blouses may be worn under black dress jackets. No leggings, stirrup pants, tights, jeans, or casual pants may be worn.<br>
(c) <u>Family, Children's, and Daytime Runout Concerts:</u><br>
&nbsp;&nbsp;&nbsp;Men: Black or very dark suit consisting of matching suit pants and suit jacket; solid colored dress or business-style shirt with long tie; black dress shoes with matching full calf-length socks.<br>
&nbsp;&nbsp;&nbsp;Women: Black street-length (covering the knees when standing and sitting) or longer dress; or black dress blouse with black street-length or longer skirt or black dress pants; black dress shoes with black hosiery. White dress blouse may be worn under black dress jacket.<br>
(d) <u>Outdoor Concerts (This does not necessarily apply to small ensemble engagements):</u><br>
&nbsp;&nbsp;&nbsp;Men: White dress or business-style shirt, either long or short sleeve; black or dark dress pants, no ties; black dress shoes with full calf-length black socks. Musicians shall have available black or dark dress jackets and long ties in the case of cold or cool weather.<br>
&nbsp;&nbsp;&nbsp;Women: White dress or business-style blouse; black dress skirt or black dress pants; black dress shoes with black hosiery. Musicians shall have available black dress jackets or black dress sweaters in the case of cold or cool weather.<br>
(e) <u>Other Concerts:</u> For performances not listed here, the Society shall notify the musicians of the required dress at the time they are hired for that performance. On occasion the Orchestra may be requested by the Society to deviate from the standard dress as described above. In such cases, the Society shall request such clothing as may be part of the musicians' regular wardrobe. No rental or purchase of clothing by the musician shall be required for such special request. Musicians may, if they desire, wear the required dress appropriate to the concert as listed above.<br>
(f) Alternate attire, including informal attire, may be adopted upon agreement between the Association and the Society. Musicians shall be given specific guidelines for permissible alternate attire.</P>



<P><B>Section 15.3 Enforcement.</b> The following disciplinary action may be taken for failure to follow stated dress code within the course of one season:<br>
(a) First Offense: written warning issued to musician from Society.<br>
(b) Second Offense: $10 fine plus a written warning issued to musician from Society.<br>
(c) Third Offense: $25 fine plus a meeting between musician and Society.<br>
(d) Subsequent Offenses: $25 fine plus further appropriate disciplinary action up to, and including, termination.</P>

				
				<a href="/musicians/MA/16/">&raquo; Next Page</a>
			{% endblock %}