{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE XIV:</B></P>

<P align=center><B>RADIO/TELEVISION BROADCASTS AND RECORDINGS</B></P>



<P><B>Section 14.1 Commercial, Non-Commercial Public Radio and Television Broadcasts.</b><br>
(a) Radio or television broadcasts, live or delayed, may be performed by the Orchestra, provided that they are either live broadcasts or taped during a scheduled subscription service. Using stations shall be advised that poor quality reproduction, for any reason, shall constitute cause for permission to record and broadcast the Orchestra's performances to be withdrawn.<br>
(b) Any radio, television or other taping for commercial or profit-making purposes shall be subject to the terms and conditions of this Agreement. Musicians shall be notified of any intention by the Society to use recordings for fundraising purposes. The Association shall have the right to negotiate additional fees for musicians based on the sale of tapes or recordings by the Society. Any use of recording equipment (cameras, microphones, etc.) shall not interfere with any service.</P>



<P><B>Section 14.2 Recordings.</b> It shall be the policy of the Society to allow audio or video recordings by school, church, civic, or contracting organizations performing with the orchestra for study purposes only, providing that:<br>
(a) Permission to do so is secured in advance from the Society, and<br>
(b) Resulting recordings are to be played only in private for the organization which has secured permission from the Society, and that no profit shall be made from any showing or broadcast of the recording. Should the recording (tape, record, video, etc.) be sold for profit, the Association shall receive a royalty of ten percent (10%) of gross sales.</P>



<P>The Orchestra shall be informed of any recording as soon as possible, however, such notification shall be made no later than the service prior to the service wherein the recording is scheduled to occur.</P>

				
				<a href="/musicians/MA/15/">&raquo; Next Page</a>
			{% endblock %}