{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE X:</B></P>

<P align=center><B>LEAVE OF ABSENCE</B></P>



<P><B>Section 10.1 Leave.</b> A Tenured Musician may request a leave of absence by the Society and, should such leave be granted and utilized, the Society shall assure the musician the same position in the Orchestra upon said musician's return as the musician held prior to the leave. Application for leave shall be made in writing postmarked not later than March 1 of the season preceding the season for which leave is requested. The Society shall respond to the applicant indicating grant or denial of leave, in writing postmarked not later than June 1 following the Tenured Musician's request. Notice of intent by the musician on leave to return shall be postmarked no later than February 1 of the season in which the musician is on leave. Should the Music Director determine a substitute musician be hired, said musician shall be hired for one (1) season only.</P>



<P><B>Section 10.2 Number.</b> Such leaves shall not be granted more than once every five (5) seasons to each tenured musician. Tenured Musicians who have been granted and taken a leave of absence shall perform four (4) seasons before being eligible for additional leave of absence.</P>



<P><B>Section 10.3 Return.</b> Upon return from a leave of absence, all previous continuous or allowed services shall count toward any prerequisites dependent upon service.</P>



<P><B>Section 10.4 Childbirth.</b> A female contracted musician in the orchestra shall be entitled to unpaid leave of absence of up to one (1) full season to have a child at any time of the year, regardless of any previous leaves, and shall be guaranteed her same position if she returns by the commencement of the next season following the birth of her child. Equal provision shall be made for husbands/fathers who may require time away from orchestral duties to assist with parental responsibilities. Childbirth leave also applies to the adoption of a child.</P>
	
				
				<a href="/musicians/MA/11/">&raquo; Next Page</a>
			{% endblock %}