{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE XVI:</B></P>

<P align=center><B>INDIVIDUAL CONTRACTS</B></P>



<P><B>Section 16.1 Contract Musicians.</b> Each musician covered by this Agreement shall be employed pursuant to an individual employment agreement (contract) between himself or herself and the Society. Said individual employment agreement shall be consistent with the terms hereof, except that full time salaries may be negotiated individually. The terms of each individual employment agreement that have general application to all members of the Orchestra have been agreed to by the parties hereto. Such terms are to this extent incorporated as a part of this Master Agreement and the terms and conditions contained in this Master Agreement shall be considered to be a part of each such individual employment agreement.</P>



<P><B>Section 16.2 Acceptance of Contract.</b><br>
(a) A signed individual contract, postmarked no later than June 1 of each season, shall be issued by the Society to each eligible musician for said musician's services for the following season. In years where the Association and the Society are negotiating the Master Agreement and said negotiations are proceeding in good faith between the Association and the Society, the date may, by mutual consent, be extended.<br>
(b) To indicate acceptance of the individual employment agreement, each musician shall sign and return to the Society the designated copy of said contract. The signed copy shall be postmarked no later than June 25. Failure to return said contract in adherence to the aforementioned schedule shall be deemed to be a refusal of the Society's offer of employment, and, as such, all obligations to the individual musician by the Society are hereby relieved.<br>
(c) If, by the conclusion of the season in which negotiations for a new Master Agreement are proceeding, the negotiations for a new Master Agreement have not concluded, the Society shall mail to each eligible musician a letter of intent, postmarked no later than June 1, to re-employ the musician for the following season. Upon ratification of the new Master Agreement, the Society shall mail each eligible musician a signed individual contract, postmarked no later than two (2) weeks following ratification, for said musician's services for the following season. To indicate acceptance of the individual employment agreement, each musician shall sign and return to the Society the designated copy of said contract. The signed copy shall be postmarked no later than twenty-five (25) days from the date of issue.</P>


				
				<a href="/musicians/MA/17/">&raquo; Next Page</a>
			{% endblock %}