{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}
			
				<p align=center><b>ARTICLE XIX:</b></p>

<p align=center><b>AUDITION PROCEDURES</b></p>



<p><b>Section 19.1 Audition Overview.</b> Auditions for all known vacancies shall be held the week following the last service of the season, and if not by then, as soon thereafter as possible.<br/>
(a) All vacancies shall be adequately advertised not less than one (1) month prior to the audition date. The advertisement shall state the title and nature of the position.<br/>

(b) Auditions shall be held in Little Rock. In the case of distance, audio recordings and resumes may be submitted for review by the Audition Committee. All audition recordings shall be played for the Committee on the same date as the live auditions for that instrument. The best available sound system shall be provided for the playing of the audition recordings. Musicians chosen to fill a position as a result of taped audition shall have a probationary period extending to November 30 of the musician's first season. At such time, the musician's performance shall be reviewed by the Music Director and same applicable Audition Committee, and results of said review communicated to the musician. Winners of auditions without a finals round shall be notified upon completion of the audition for that instrument.<br/>
(c) All musicians who apply who are legally authorized to work in the United States shall be granted an audition.<br/>
(d) The Music Director shall be present at all auditions.<br/>
(e) The Society shall furnish individual copies of the excerpts being heard to every member of the Audition Committee and to the Music Director.<br/>
(f) A member of the Orchestra whose contract has been terminated may re-audition for his or her position.<br/>
(g) An audition following these conditions and procedures shall be held to fill any vacancy, including leave-of-absence.<br/>
(h) There shall be another audition when a leave-of-absence position is to be filled permanently.<br/>
(i) Should a vacancy occur on short notice, the vacancy shall be filled temporarily, with an audition to be held as soon as possible. The musician filling the position temporarily shall automatically be a finalist.</p>



<p><b>Section 19.2 Audition Committee.</b><br/>
(a) The Orchestra members serving on the Audition Committee shall be:<br/>
&nbsp;&nbsp;&nbsp;1) For String auditions (including Harp, excluding Concertmaster): Concertmaster(s), Assistant Concertmaster, Principal Second Violin, Principal Viola, Principal Cello, Principal Bass, and as many additional representatives determined by the aforementioned Audition Committee to make the committee total seven (7) members.<br/>
&nbsp;&nbsp;&nbsp;2) For Woodwind auditions - principal or section vacancy: Woodwind Principals, Principal Horn, and as many additional representatives determined by the aforementioned Audition Committee to make the committee total seven (7) members.<br/>
&nbsp;&nbsp;&nbsp;3) For Brass auditions - principal or section vacancy - Brass Principals and as many additional representatives determined by the aforementioned Audition Committee to make the committee total seven (7) members.<br/>
&nbsp;&nbsp;&nbsp;4) For Timpani auditions: one Principal Brass player, Principal Cello, Principal Bass and at least two (2) Percussion players and as many additional representatives determined by the aforementioned Audition Committee to make the committee total seven (7) members.<br/>
&nbsp;&nbsp;&nbsp;5) For Percussion auditions: the Principal Timpani player, at least two (2) Percussion players and as many additional representatives determined by the aforementioned Audition Committee to make the committee total seven (7) members.<br/>
&nbsp;&nbsp;&nbsp;6) For Concertmaster auditions: String Principals and as many additional representatives determined by the aforementioned Audition Committee to make the committee total seven (7) members.<br/>
(b) Should a principal be unavailable, the principal shall designate a replacement for the Audition Committee.  A member of the committee unable to attend the audition shall forfeit his or her right to vote on any player auditioning at said audition.<br/>
(c) Whenever possible, the Audition Committee shall elect its additional representatives from diverse sections of the orchestra.</p>



<p><b>Section 19.3 Audition Process.</b>  The operating procedures of auditions shall be:<br/>
(a) The Personnel Manager may select an assistant, as needed, and his or her responsibilities shall include communicating with the applicants and thanking each applicant after he or she has played.<br/>
(b) The procedure for the preliminary round shall be:<br/>
&nbsp;&nbsp;&nbsp;1) All preliminary auditions shall be held with an opaque screen between the applicant and the committee. For all auditions, there shall be at least one screened, preliminary round.  The Music Director shall not vote in the preliminary round.<br/>
&nbsp;&nbsp;&nbsp;2) After all candidates in a round or in a designated portion of a round have played, the Audition Committee shall, without discussion, vote by secret ballot.<br/>
&nbsp;&nbsp;&nbsp;3) The balloting will be tabulated by a third party (proctor).  The Audition Committee shall be informed of the result of the ballot.<br/>
&nbsp;&nbsp;&nbsp;4) Following the first ballot, the Audition Committee may discuss the audition.<br/>
&nbsp;&nbsp;&nbsp;5) After such discussion, any Audition Committee member may request a second secret ballot of the Audition Committee.<br/>
&nbsp;&nbsp;&nbsp;6) The Audition Committee will advance candidates on to the next round via a vote yielding a simple majority from the last ballot taken.<br/>
(c) The procedure for the final round shall be:<br/>
&nbsp;&nbsp;&nbsp;1) If the physical audition space allows, the members of the Audition Committee and the Music Director will not sit together.  They will not discuss candidates until after an initial vote is taken.<br/>
&nbsp;&nbsp;&nbsp;2) The Audition Committee and the Music Director shall have the option of hearing candidates play with the section involved or in a chamber music setting.  Should the Music Director make such a request, all terms regarding musician compensation, scheduling, and working conditions as outlined in Article VII shall apply.  All musicians shall have the right of refusal to play with the candidates in the final round without prejudice to their position in the orchestra.  Should the Audition Committee wish to hear the candidates play with the section in question or in a chamber music setting, but the Music Director did not request this, they may still have the right to organize this on a voluntary basis, but such performance will not be compensated by the Society.<br/>
&nbsp;&nbsp;&nbsp;3) After all finalists have played, the Audition Committee and the Music Director shall, without discussion, vote by secret ballot. The Music Director's vote will be weighted at four (4) votes.  In all final audition voting, each committee member shall have the responsibility of voting 'YES' for only one candidate or 'NO' for all of the candidates.  There shall be no abstentions.  If there is more than one position vacant in the section being auditioned, the Audition Committee shall vote 'YES' for up to the total number of vacant spots or vote 'NO' for all of the candidates.<br/>
&nbsp;&nbsp;&nbsp;4) The balloting will be tabulated by a third party (proctor).  The Audition Committee and Music Director shall be informed of the result of the ballot.<br/>
&nbsp;&nbsp;&nbsp;5) Following the first ballot, the Audition Committee and the Music Director may discuss the audition.<br/>
&nbsp;&nbsp;&nbsp;6) After such discussion, any Audition Committee member or the Music Director may request a second secret ballot of the Audition Committee.<br/>
&nbsp;&nbsp;&nbsp;7) At the discretion of the Audition Committee and the Music Director, candidates may be asked to play an additional round.  Any additional rounds will follow the procedure listed above in Section 19.3 (c).<br/>
&nbsp;&nbsp;&nbsp;8) The Music Director shall have the right to not hire any particular candidate even if the majority of the total votes were positive.  The Music Director shall not have the right to hire a candidate for whom the majority of the total votes were negative.</p>



<p><b>Section 19.4 Substitute Musicians.</b> When possible, the Music Director in conjunction with the principal of the section in question may hear prospective substitute player auditions at any time.  These auditions do not have to be screened and do not require the full audition committee to be present.</p>

				
				<a href="/musicians/MA/20/">&raquo; Next Page</a>
			{% endblock %}