{% extends "musicians/MA/ma-contents.html" %}
			{% block musician-content %}
			
							<p align=center><b>ARTICLE I:</b></p>

				<p align=center><b>PURPOSE OF AGREEMENT</b></p>

<p><b>Section 1.1 Purpose.</b> The purpose of this agreement is to establish the wage chart and working conditions for all tenured, probationary, 100-service, and substitute musicians engaged by the Society to render service in the Arkansas Symphony Orchestra. Establishment of the wage chart and working conditions particular to members of the ASO Quartets and other full-time artistic personnel, which differ from the terms of this Master Agreement, are included in this Agreement and supplemented in the forms attached hereto as Wage Chart, ASO Quartets, and Co- concertmaster(s) Appendices.</p>
<p><b>Section 1.2 Changes.</b> It is further agreed that this document contains the complete agreement between the parties hereto and no additions, waivers, deletions, changes or amendment shall be made during the life of this agreement except by mutual consent in writing of the parties hereto. This mutual written consent shall be set forth, in the form of Policy Statements or Amendments, and signed by the Society’s Executive Director and Music Director and the President of the Association. The Society shall provide each contracted musician with a copy of all Policy Statements and Amendments.</p>
<p><b>Section 1.3 Non-Discrimination.</b> No discrimination shall in any manner be directed by the Society or the Association toward or practiced or imposed upon any musician who shall apply for, or be engaged hereunder, with respect to any right, benefit or privilege set forth, or arising heretofore because of such musician’s sex, race, color, creed, age, sexual orientation or national origin, nor shall any favoritism or partiality be shown, or any advantage given any such musician with respect to any duty, obligation or responsibility imposed hereunder because of such musician’s sex, race, color, creed, age, sexual orientation or national origin.</p>

<p>&nbsp;</p>

				<a href="/musicians/MA/2/">&raquo; Next Page</a>
		
			{% endblock %}