{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE XIII:</B></P>

<P align=center><B>TRAVEL PAY/MILEAGE/PER DIEM FOR OUT OF TOWN MUSICIANS</B></P>



<P><B>Section 13.1 Mileage for Musicians Living Outside of Pulaski County.</b><br>
(a) Musicians living outside Pulaski County and driving their own cars to services shall receive mileage payment at a rate specified in the wage chart per mile, round trip. Musicians traveling from the same location shall be required to car-pool in order to help conserve mileage funds. Exceptions shall be made only when car-pooling is not feasible.<br>
(b) When the Society provides transportation from Little Rock to services outside Pulaski County, and the normal, most direct route from a musician's home to the service location passes through Little Rock or location of planned bus stop, payment for mileage shall be limited to a rate specified in the wage chart per mile, round trip, for the distance between the player's home and Little Rock or location of planned bus stop.<br>
(c) When the normal, most direct route to a service does not pass through Little Rock, and a significant savings in a musician's travel time would result from driving directly to the service location, such musician shall receive mileage payment at the rate specified in the wage chart per mile, round trip, for travel from his or her home directly to the service location.</P>



<P><B>Section 13.2 Service Claim Forms.</b> Musicians shall be responsible for the completion and timely submission of Service Claim Forms to the Personnel Manager. Service Claim Forms shall be due on the 8th and 23rd days of each month.  Failure to submit Service Claim Forms on time shall result in a delay (until next payroll) in payment for travel expenses. A penalty of five percent (5%) of the total claimed shall be deducted from the payment for claims made after thirty (30) days following a service.  Service Claim Forms not submitted by June 23rd (end of fiscal year) shall not be paid. The Musician shall be responsible for claiming all of his/her applicable per-diem, mileage, cartage, and doubling. The Personnel Manager shall be responsible for reporting the payment of all rehearsals, performances, travel fees, and overtime.</P>



<P><B>Section 13.3 Meals Compensation/Hotel.</b><br>
(a) Each musician living outside Pulaski County and staying in a hotel for a concert weekend shall be paid the rate specified in the wage chart per concert weekend.<br>
(b) Each musician living outside Pulaski County and staying in a hotel for a concert weekend shall have his or her hotel room paid for by the Society. Two musicians shall share a double room in order to conserve funds. Players desiring a single room shall be responsible for the remaining balance of the cost after the Society pays a sum equal to half of the approved double occupancy room rate.<br>
(c) The Society reserves the right to negotiate separately the travel and accommodations of musicians from out of state.</P>	
				
				<a href="/musicians/MA/14/">&raquo; Next Page</a>
			{% endblock %}