{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE XVIII:</B></P>

<P align=center><B>PEER REVIEW PROCEDURE</B></P>



<P><B>Section 18.1 Procedures.</b> The procedures set forth below shall be followed by all parties should a tenured musician request an appeal of the Music Director's decision to non-renew, terminate, demote, or remove tenure.</P>



<P><B>Section 18.2 Appeal.</b> The affected musician shall notify the Society's Executive Director and the Association President in writing, postmarked no later than ten (10) days from the postmark of his or her final notice of non-renewal, termination, or demotion, of his or her intention to appeal the decision through the Peer Review Committee.</P>



<P><B>Section 18.3 Peer Review Committee.</b> The Peer Review Committee shall be composed of seven (7) eligible orchestra musicians: three (3) regular members and one (1) alternate chosen at the beginning of each season by the Association, three (3) regular members and one (1) alternate chosen at the beginning of each season by the Society, and one (1) chosen jointly by the Association and by the Society should a musician initiate the appeal procedure. The six (6) nominated musicians and two (2) alternates shall be approached by the Association President; these musicians shall not be told by which body they are nominated. Musicians eligible to serve on the Peer Review Committee include 1) principal players and 2) musicians who have been contract musicians for five (5) or more full seasons. Orchestra musicians serving on the Peer Review Committee shall receive no compensation for such service. The following persons shall not serve on the Peer Review Committee:<br>
<li>The Music Director
<li>Any ASO Society Staff member
<li>Any musician who has offered his/her resignation
<li>Any musician who has a conflict of interest due to familial or student-teacher relationships with the musician filing the appeal 
<li>Any musician who is also involved in a Peer Review appeal</P>



<P><B>Section 18.4 Committee Operations.</b> The Peer Review Committee shall elect a Chairman and a Vice-Chairman by voice vote. The Chairman shall be responsible for scheduling any meetings or auditions that the majority of the Committee direct are necessary in these proceedings. In addition, the Chairman shall be responsible for providing identical ballots for the Peer Review vote, for counting said ballots, and for verbally notifying the Music Director and the Executive Director of the results within twenty-four (24) hours of the vote. The Vice-Chairman shall be responsible for observing the accuracy of the count, recording it in writing, and for notifying the Music Director and the Executive Director in writing of the results within five (5) days.</P>



<P><B>Section 18.5 Right to Audition.</b> The affected musician shall have the right to perform an audition before the Peer Review Committee. Likewise, the Peer Review Committee may require the musician to perform before the Committee. However, there shall be no requirement that an audition be performed.  The audition material shall consist of the repertoire list for musicians auditioning for entry into the orchestra on that instrument. Should an audition be scheduled, the musician shall have not less than twenty-one (21) days to prepare audition materials.</P>



<P><B>Section 18.6 Committee Review.</b> The Peer Review Committee shall review all circumstances regarding the termination, demotion, or non-renewal of the affected musician and render a decision in writing. Said decision shall be mailed, postmarked no later than fifteen (15) days following the final hearing or audition, to the affected musician and to the Society.</P>



<p><b>Section 18.7 Committee Decision.</b> A majority vote of five (5) of seven (7) members of the Peer Review Committee shall be required to overturn a non-renewal, termination, or demotion.  The Peer Review Committee's decision shall be binding upon the Society.</p>

				
				<a href="/musicians/MA/19/">&raquo; Next Page</a>
			{% endblock %}