{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE XI:</B></P>

<P align=center><B>REQUESTS FOR TEMPORARY ABSENCE</B></P>



<P><B>Section 11.1 Temporary Replacement.</b> Should a musician be granted an excused absence from a service listed on the schedule of services, the Music Director/Conductor may, at his sole discretion, replace that musician for the complete series of rehearsals and concerts.</P>



<P><B>Section 11.2 Excessive Requests.</b> Only a reasonable number of requests for absences shall be considered for any player or for any particular service.</P>

				
				<a href="/musicians/MA/12/">&raquo; Next Page</a>
			{% endblock %}