{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}
			
<p align=center><b>ARTICLE XX:</b></p>

<p align=center><b>RESERVATION OF RIGHTS</b></p>



<p>Subject to the provisions of this Agreement, the Management and the direction of the activities of the Arkansas Symphony Orchestra Society, Inc., and its employees, including the right to establish and enforce reasonable rules and regulations, to maintain efficiency and to maintain discipline among the employees, shall be vested exclusively in the Society. All managerial functions of the Society not expressly limited by the agreement are reserved to and vested exclusively in the Society.</p>



<p>IN WITNESS whereof the parties have caused this Agreement to be executed by their duly authorized representatives as of August 2, 2012.</p>

<br/>

<br/>

<table id="signatures">

<tr><td width=50%>ARKANSAS SYMPHONY ORCHESTRA<br/>PLAYERS ASSOCIATION, INC.<br/><br/></td><td width=50%>ARKANSAS SYMPHONY<br/>ORCHESTRA SOCIETY, INC.<br/><br/></td></tr>

<tr><td>BY:_______________________<br/>Daniel Cline,<br/>President, ASOPA</td><td>BY:_______________________<br/>Christina Littlejohn,<br/>Executive Director, ASOS</td></tr>

</table>

<br/>

<br/>

<table id="signatures">

<tr><td width=25%></td><td width=50%>BY:_______________________<br/>Martin Thoma,<br/>Chair, ASOS Board of Directors</td><td width=25%></td></tr>

</table>
				
			{% endblock %}