{% extends "musicians/MA/ma-contents.html" %}

			{% block musician-content %}
			
				<P align=center><b>ARTICLE II:</b></p>
				<P align=center><b>TERM</b></p>
<p><b>Section 2.1 Term.</b> This contract shall be for a period of three (3) years commencing July 1, 2012, expiring June 30, 2015. The provisions in Article VII relating to compensation shall be effective until June 30, 2013. The provisions in Article VII relating to compensation in subsequent years shall be determined by negotiation.</p>

<p><b>Section 2.2 Season.</b> The performing season for the Arkansas Symphony Orchestra shall begin on September 1 at 12:01 am and shall conclude on May 31 at 11:59pm. There shall be vacation periods:</p>
<li>December 21, 2012 – January 3, 2013<li>December 23, 2013 – January 5, 2014<li>December 23, 2014 – January 5, 2015
<br/>
<br/>
				
<p>The schedule of services for the season shall clearly mark any services that fall outside of the ASO’s regular performing season.</p>

<p><b>Section 2.3 Services during Vacation Periods.</b> Any services scheduled by the Society during the vacation periods specified in Section 2.2 or during the period June 1 through August 31, not including July 4, in each of the years covered by this agreement, shall come under the terms of this Agreement. Musicians shall have the right of refusal of any services during these periods and such refusal shall not affect their position in the Arkansas Symphony Orchestra or their tenure status. It is understood that the Society may fill any and all vacancies during the periods specified in Section 2.3 with substitutes as needed selected by the Music Director/Conductor.</p>
				
<p>&nbsp;</p>
				
				<a href="/musicians/MA/3/">&raquo; Next Page</a>
			{% endblock %}