{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE III:</B></P>

<P align=center><B>RIGHTS OF MANAGEMENT</B></P>



<p><b>Section 3.1 Operation of Society.</b> The Society reserves the right to manage the operation of the Arkansas Symphony Orchestra, including the right to determine the times and places of rehearsals and concerts, and the right to hire, discipline, lay off, or discharge for just cause, any player in accordance with the provisions of this Agreement (e.g. Section 17.5). Reassignment, promotion, demotion, rotation, or transfer of players shall be at the discretion of the Music Director in accordance with the provisions of this Agreement (e.g. Section 17.4). All other rights are subject only to such regulations and restrictions as are expressly provided elsewhere in this Agreement.</p>
<p><b>Section 3.2 Authority.</b> The Association expressly recognizes and agrees that included in the authority of the Society is the right to make such rules and regulations as are necessary for sound fiscal management as well as the effective and orderly operation of the Orchestra, including restrictions in the use of the Arkansas Symphony Orchestra name and logo.</p>
<p><b>Section 3.3 Use of Name.</b> Individual musicians, other organizations or groups may not use the name of the Arkansas Symphony Orchestra or its logo in a manner which would suggest to the public that they are performing under the auspices of the Society except by special permission granted in writing by the Society.</p>
<p><b>Section 3.4 Engagement of Orchestras for Outside Organizations.</b> Contracted musicians of the ASO shall not contract/hire orchestras for outside organizations. The Society shall exclusively contract the engagement of orchestras for outside organizations. It is not the Society’s intent to preclude or disrupt existing relationships with certain outside organizations, nor is it the Society’s intent to limit the musician’s right to individually accept playing engagements offered by outside organizations.</p>

<P>&nbsp;</P>

				
				
				<a href="/musicians/MA/4/">&raquo; Next Page</a>
			{% endblock %}