{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE IV:</B></P>

<P align=center><B>RECOGNITION OF THE ASSOCIATION</B></P>

<P>The Society recognizes the Association as the exclusive bargaining representative for the purposes of collective bargaining with respect to wages, hours, or other conditions of employment of musicians covered hereby.</P>

<P>&nbsp;</P>

	
				
				<a href="/musicians/MA/5/">&raquo; Next Page</a>
			{% endblock %}