{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE V:</B></P>

<P align=center><B>ORCHESTRA COMMITTEE AND OTHER COMMITTEES</B></P>



<p><b>Section 5.1 Officers.</b> Not later than September 30 of each season, the Association shall notify the Society of the officers (President, Vice-President, Treasurer, Secretary, and Board Representative) of the Association. The Association shall represent the musicians to the Society on all matters covered by this Agreement, deal with matters not covered in the Agreement, and negotiate the Agreement and any ensuing Policy Statements and/or Amendments.</p>
<p><b>Section 5.2 Board Membership.</b> The Association shall provide two (2) representatives to attend all Society Board of Directors meetings as voting, non-fiduciary members. The Association Board Representative shall report the proceedings of the Society Board to the Association. Additionally, the Association President shall be a voting member of the Society Executive Committee and shall be supplied with an annual schedule of Society Board of Directors meetings by September 1 of each season. The Association President and Board Representative shall observe the rules of discretion that apply to all members of the Society’s Board of Directors. The Association President and Board Representative shall receive minutes of each Society Board of Directors meeting and Society Executive Committee meeting within a reasonable period following the meeting, whether or not he or she is able to attend said meeting.</p>
<p><b>Section 5.3 Association Protection.</b> No member of the Association shall have his or her position in the orchestra jeopardized, be harassed, or be discriminated against because he or she carries out his or her responsibilities to the Association or the orchestra as defined under this Agreement.</p><p><b>Section 5.4 Association Business.</b> Elections, announcements or other business of the Association shall not occur during scheduled services of the Arkansas Symphony Orchestra.</p>
<p>Section 5.5 Joint Committee on Orchestra Affairs.</b> There shall be, for the term of this agreement, a Joint Committee on Orchestra Affairs whose purpose shall be to facilitate communication between the Association and the Society. The Committee shall meet not less than two (2) times per performance season. The Committee membership shall be the Association officers, four (4) members of the Society’s Board of Directors chosen by the Society’s Board, the Executive Director, Personnel Manager, and the Music Director.</p>

<P>&nbsp;</P>
	
				
				<a href="/musicians/MA/6/">&raquo; Next Page</a>
			{% endblock %}