{% extends "musicians/MA/ma-contents.html" %}
	
			{% block musician-content %}

<P align=center><B>ARTICLE VIII:</B></P>

<P align=center><B>ENGAGEMENT OF MUSICIANS</B></P>



<P><B>Section 8.1 Hiring.</b> The Society shall schedule all Contracted Musicians first for the position specified in their contract, allowing same first right of refusal before scheduling Substitute Musicians. For all orchestra services requiring fewer musicians than the full roster (e.g. chamber orchestra), the assignment of section string players to said services shall be at the sole discretion of the Music Director. Assignment to such previous reduced personnel programs shall not be considered a guarantee of assignment to future programs. A Per-Service Musician may, without jeopardizing his or her status in the orchestra, request not to be assigned to such reduced personnel orchestra programs during any season. Such request shall be made in writing to the Personnel Manager, and shall be postmarked no later than May 1 of the season prior to the season for which the request is being made.</P>



<P><B>Section 8.2 Engagement of Musicians by Outside Organizations.</b> For all orchestra engagements by an outside organization, the call order shall be as follows.  Any engagement by an outside organization shall come under the terms of this agreement.</P>


<p>(a) Violin:<br>
&nbsp;&nbsp;&nbsp;1) Co-concertmasters<br>
&nbsp;&nbsp;&nbsp;2) Associate Concertmaster<br> 
&nbsp;&nbsp;&nbsp;3) Assistant Concertmaster<br>
&nbsp;&nbsp;&nbsp;4) Two (2) full-time section players<br>
&nbsp;&nbsp;&nbsp;5) Per-service section players with more than twenty (20) seasons as a contracted musician as of June 30, 2010<br>
&nbsp;&nbsp;&nbsp;6) Full-time section players<br>
&nbsp;&nbsp;&nbsp;7) Tenured players, on the basis of seniority<br>
&nbsp;&nbsp;&nbsp;8) Per-service non-tenured players on a rotational basis<br>
(b) Viola:<br>
&nbsp;&nbsp;&nbsp;1) Principal Viola<br>
&nbsp;&nbsp;&nbsp;2) One (1) full-time section player<br>
&nbsp;&nbsp;&nbsp;3) Per-service section players with more than twenty (20) seasons as a contracted musician as of June 30, 2010<br>
&nbsp;&nbsp;&nbsp;4) Full-time section players<br>
&nbsp;&nbsp;&nbsp;5) Tenured players, on the basis of seniority<br>
&nbsp;&nbsp;&nbsp;6) Per-service non-tenured players on a rotational basis<br>
(c) Cello:<br>
&nbsp;&nbsp;&nbsp;1) Principal Cello<br>
&nbsp;&nbsp;&nbsp;2) One (1) full-time section player<br>
&nbsp;&nbsp;&nbsp;3) Per-service section players with more than twenty (20) seasons as a contracted musician as of June 30, 2010<br>
&nbsp;&nbsp;&nbsp;4) Full-time section players<br>
&nbsp;&nbsp;&nbsp;5) Tenured players, on the basis of seniority<br>
&nbsp;&nbsp;&nbsp;6) Per-service non-tenured players on a rotational basis<br>
(d) Bass:<br>
&nbsp;&nbsp;&nbsp;1) Principal Bass<br>
&nbsp;&nbsp;&nbsp;2) Associate Principal Bass<br>
&nbsp;&nbsp;&nbsp;3) Per-service section players with more than twenty (20) seasons as a contracted musician as of June 30, 2010<br>
&nbsp;&nbsp;&nbsp;4) Full-time section players<br>
&nbsp;&nbsp;&nbsp;5) Tenured players, on the basis of seniority<br>
&nbsp;&nbsp;&nbsp;6) Per-service non-tenured players on a rotational basis<br>
(e) Winds, Brass, Percussion, Harp, Keyboards:<br>
&nbsp;&nbsp;&nbsp;1) All principals and, following them in order, all other titled chairs.<br>
&nbsp;&nbsp;&nbsp;2) If for any reason a titled chair player is unavailable, the principal player shall make personnel recommendations to the Society staff.</P>



<P>No discrimination in any manner shall be directed toward any musician because of such musician's sex, race, color, creed, age, national origin, sexual orientation or professional relationship with the Society.</P>



<P><B>Section 8.3 Engagement of Chamber Ensembles by Outside Organizations.</b> Established chamber ensembles (e.g., quartet, trios, etc.) are encouraged to submit their personnel lists to the Society's Outreach Services Coordinator in order to facilitate the contracting of jobs requiring small ensembles. Recognizing that chamber ensembles rehearse on their own time and purchase their own music, the Society shall pay at a wage rate for these musicians that exceeds ASO principal scale. Musicians without established ensembles may submit their name for inclusion in the assembly of chamber ensembles for contracted jobs on a rotational basis when needed.</P>
	
				
				<a href="/musicians/MA/9/">&raquo; Next Page</a>
			{% endblock %}