			{% extends "musicians/musicians.html" %}
			
			{% block side-nav %}
				<div class="four columns">
					<div class="panel">
						<p>Master Agreement Contents</p>
						<ul class="side-nav">
							<li><a href="/musicians/MA/ma-contents/">TABLE OF CONTENTS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/1/">ARTICLE I: PURPOSE OF AGREEMENT</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/2/">ARTICLE II: TERM</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/3/">ARTICLE III: RIGHTS OF MANAGEMENT</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/4/">ARTICLE IV: RECOGNITION OF THE ASSOCIATION</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/5/">ARTICLE V: ASSOCIATION AND OTHER COMMITTEES</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/6/">ARTICLE VI:	DEFINITIONS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/7/">ARTICLE VII: COMPENSATION, SCHEDULING, AND WORKING CONDITIONS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/8/">ARTICLE VIII: ENGAGEMENT OF MUSICIANS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/9/">ARTICLE IX: WORKING CONDITIONS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/10/">ARTICLE X: LEAVE OF ABSENCE</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/11/">ARTICLE XI: REQUESTS FOR TEMPORARY ABSENCE</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/12/">ARTICLE XII: RUNOUTS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/13/">ARTICLE XIII: TRAVEL PAY/MILEAGE/PER DIEM FOR OUT OF TOWN MUSICIANS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/14/">ARTICLE XIV: RADIO/TELEVISION BROADCASTS AND RECORDINGS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/15/>ARTICLE XV: DRESS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/16/">ARTICLE XVI: INDIVIDUAL CONTRACTS</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/17/">ARTICLE XVII: PROBATIONARY PERIOD, TENURE, NON-RENEWAL, DEMOTION, TERMINATION, AND GRIEVANCE PROCEDURE</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/18/">ARTICLE XVIII: PEER REVIEW PROCEDURE</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/19/">ARTICLE XIX: AUDITION PROCEDURES</a></li>
							<li class="divider"></li>
							<li><a href="/musicians/MA/20/">ARTICLE XX: RESERVATION OF RIGHTS</a></li>
							<li class="divider"></li><br/>
							<li><a href="/musicians/">Musicians Home</a></li>
							<li class="divider"></li>
						</ul>
					</div>
				</div>
				
			{% endblock %}
	
			{% block musician-content %}
			
				<div id="master-agreement">
					<div id="master-title">
						MASTER AGREEMENT TABLE OF CONTENTS
					</div>
					<br/>
					<a href="{{  MEDIA_URL  }}{{  ma_doc.file  }}">View a PDF version of the complete Master Agreement</a><br/><br/>

					<a href="/musicians/MA/1/">ARTICLE I: PURPOSE OF AGREEMENT</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1	Purpose<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2	Changes<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3	Non-Discrimination<br/>
					
					<a href="/musicians/MA/2/">ARTICLE II: TERM</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.1	Term<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2	Season<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.3	Services during Vacation Periods<br/>
					
					<a href="/musicians/MA/3/">ARTICLE III: RIGHTS OF MANAGEMENT</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.1	Operation of Society<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.2	Authority<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.3	Use of Name<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.4	Engagement of Orchestras for Outside Organizations<br/>
					
					<a href="/musicians/MA/4/">ARTICLE IV: RECOGNITION OF THE ASSOCIATION</a><br/>
					<a href="/musicians/MA/5/">ARTICLE V: ASSOCIATION AND OTHER COMMITTEES</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.1	Officers<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.2	Board Representative<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.3	Association Protection<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.4	Association Business<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.5	Joint Committee on Orchestra Affairs<br/>
					
					<a href="/musicians/MA/6/">ARTICLE VI:	DEFINITIONS</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.1	Employment Status<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.2	Services, Ensembles, and Scheduling<br/>
					
					<a href="/musicians/MA/7/">ARTICLE VII: COMPENSATION, SCHEDULING, AND WORKING CONDITIONS</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.1	Wage Rates and Services<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.2	Individual Wage Raises<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.3	Principal (Move-Up) Services<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.4	Full-Time Musician Compensation<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.5	Financial Exigencies<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.6	Principal Chairs<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.7	Manner of Payment<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.8	Working Conditions<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.9	Music<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.10	Doubling<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.11	Attendance at Services<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.12	Scheduling, Change of, and Cancellation of Services<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.13	Rehearsals<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.14	Soloist Pay<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.15	Chamber Ensemble Compensation<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.16	Other Scheduling Restrictions<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.17	Cartage<br/>
					
					<a href="/musicians/MA/8/">ARTICLE VIII: ENGAGEMENT OF MUSICIANS</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.1	Hiring<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.2	Engagement of Musicians by Outside Organizations<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.3	Engagement of Chamber Ensembles by Outside Organizations<br/>
					
					<a href="/musicians/MA/9/">ARTICLE IX: WORKING CONDITIONS</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.1	Lights<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.2	Temperature/Weather<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3	Seating<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.4	Security<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.5	Acoustic Piano<br/>
					
					<a href="/musicians/MA/10/">ARTICLE X: LEAVE OF ABSENCE</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.1	Leave<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.2	Number<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.3	Return<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.4	Childbirth<br/>
					
					<a href="/musicians/MA/11/">ARTICLE XI: REQUESTS FOR TEMPORARY ABSENCE</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11.1	Temporary Replacement<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11.2	Excessive Requests<br/>
					
					<a href="/musicians/MA/12/">ARTICLE XII: RUNOUTS</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12.1	Meals and Per Diem<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12.2	Late Returns<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12.3	Mileage/Travel Pay for Services Outside of Pulaski County<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12.4	Dressing Rooms<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12.5	Receptions<br/>
					
					<a href="/musicians/MA/13/">ARTICLE XIII: TRAVEL PAY/MILEAGE/PER DIEM FOR OUT OF TOWN MUSICIANS</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.1	Mileage for Musicians Living Outside of Pulaski County<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.2	Service Claim Forms<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.3	Meals Compensation/Hotel<br/>
					
					<a href="/musicians/MA/14/">ARTICLE XIV: RADIO/TELEVISION BROADCASTS AND RECORDINGS</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14.1	Commercial, Non-Commercial Public Radio and Television Broadcasts<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14.2	Recordings<br/>
					
					<a href="/musicians/MA/15/">ARTICLE XV: DRESS</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15.1	Clothing<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15.2	Dress Code<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15.3	Enforcement<br/>
					
					<a href="/musicians/MA/16/">ARTICLE XVI: INDIVIDUAL CONTRACTS</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16.1	Contract Musicians<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16.2	Acceptance of Contract<br/>
					
					<a href="/musicians/MA/17/">ARTICLE XVII: PROBATIONARY PERIOD, TENURE, NON-RENEWAL, DEMOTION, TERMINATION, AND GRIEVANCE PROCEDURE</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17.1	Probationary Period<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17.2	Tenured Musicians<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17.3	Non-Renewal of Tenured Musicians<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17.4	Demotion (Artistic Insufficiency) for Tenured Musicians<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17.5	Termination<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17.6	Grievance Procedure<br/>
					
					<a href="/musicians/MA/18/">ARTICLE XVIII: PEER REVIEW PROCEDURE</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18.1	Procedures<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18.2	Appeal<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18.3	Peer Review Committee<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18.4	Committee Operations<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18.5	Right to Audition<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18.6	Committee Review<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18.7	Committee Decision<br/>
					
					<a href="/musicians/MA/19/">ARTICLE XIX: AUDITION PROCEDURES</a><br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19.1	Audition Overview<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19.2	Audition Committee<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19.3	Audition Process<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19.4	Substitute Musicians<br/>
					
					<a href="/musicians/MA/20/">ARTICLE XX: RESERVATION OF RIGHTS</a><br/>
				</div>
				
				<br/>
			{% endblock %}
			
			{% block side-nav-layout %}
			
			{% endblock %}
