{% extends "special/special_base.html" %}

{% block title_detail %}
	Free Concerts for Kids
{% endblock %}


{% block post_nav %}

	<td width="920" valign="top">
		<div id="content_special">
		<br><br>
			<img src="/media/images/freekids.jpg" alt="Free Concerts for Kids"><br><br>
			
			<div style="padding: 0 0px 0 10px;">
			<br>
				<font size="4">Starting this season, all children in grades K-12 can attend any (or all) Sunday concerts for free with a paying adult.<br><br>
				
				Call the box office at (501) 666-1761 to reserve your tickets. We are sorry that we offer these tickets online.</font>
				
			</div>
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
