{% extends "special/special_base.html" %}

{% block title_detail %}
	2014-2015 Season	
{% endblock %}


{% block post_nav %}

	<td width="920" valign="top">
		<div id="content_special">
			<br><br>
			<a href="/concerts/subscriptions/"><img src="/media/images/main_banner/1415season_banner_temp.jpg" title="Click to Subscribe Now!" alt="2014-2015 Season"></a><br/><br/><br/>
			<a href="/media/aso_1415_season.pdf" class="smallBlue">Click here to download the 2014-2015 season brochure!</a><br/><br/>
			
			<div style="padding: 0 0px 0 10px;">
				<table width="920" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="460" valign="top">
						
						<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">Masterworks</a>&nbsp;&nbsp;<a href="/concerts/subscriptions/" class="smallBlue">Subscribe</a></div><br>
							
						{% for show in mwList %}
							
							
							<div class="event">	
								
								<div class="event_left">
									{% if show.small_picture %}
										<img src="/media/{{ show.small_picture }}">
									{% endif %}
								</div>
				
								
								<div class="event_right">
									<font size="5">{{ show.short_month }} {{ show.short_day }}</font><br>
									
									<a href="/concerts/{{ show.url_name }}" class="blue">{{ show.name }}</a>
									<br>
									<!--<font color="#2d9bfd">{{ show.type }}</font> -->
								
									{{ show.short_desc|linebreaks }}
									<a href="/concerts/{{ show.url_name }}" class="smallBlue">More Info</a>
									
								</div>
								
							</div>	
							<br>

						{% endfor %}
						
				
					</td>
					
					<td width="460" valign="top">
				
						<div style="font-size: 24px; margin-bottom: 5px;"><a name="pops">Pops Live!</a>&nbsp;&nbsp;<a href="/concerts/subscriptions/" class="smallBlue">Subscribe</a></div><br>
							
						{% for show in popsList %}
							
							
							<div class="event">	
								
								<div class="event_left">
									{% if show.small_picture %}
										<img src="/media/{{ show.small_picture }}">
									{% endif %}
								</div>
				
								
								<div class="event_right">
									<font size="5">{{ show.short_month }} {{ show.short_day }}</font><br>
									
									<a href="/concerts/{{ show.url_name }}" class="blue">{{ show.name }}</a>
									<br>
									<!--<font color="#2d9bfd">{{ show.type }}</font> -->
								
									{{ show.short_desc|linebreaks }}
									<a href="/concerts/{{ show.url_name }}" class="smallBlue">Tickets & Info</a>
									
								</div>
								
							</div>	
							<br>
							
						{% endfor %}
								
					</td>
				</tr>
				
				<tr>
					<td width="460" colspan="2" valign="top">
							
						<br><div style="font-size: 24px; margin-bottom: 5px;"><a name="chamber">River Rhapsodies Chamber Series</a>&nbsp;&nbsp;<a href="/concerts/subscriptions/" class="smallBlue">Subscribe</a></div><br>
					</td>
				</tr>
				
				<tr>
					
					<td width="460" valign="top">
					
						{% for show in chamberList %}
							
							{% ifequal forloop.counter0 3 %}
								</td>
								<td width="460">
							{% endifequal %}
							
							<div class="event">	
								
								<div class="event_left">
									{% if show.small_picture %}
										<img src="/media/{{ show.small_picture }}">
									{% endif %}
								</div>
				
								
								<div class="event_right">
									<font size="5">{{ show.short_month }} {{ show.short_day }}</font><br>
									
									<a href="/concerts/{{ show.url_name }}" class="blue">{{ show.name }}</a>
									<br>
									<!--<font color="#2d9bfd">{{ show.type }}</font> -->
								
									{{ show.short_desc|linebreaks }}
									<a href="/concerts/{{ show.url_name }}" class="smallBlue">Tickets & Info</a>
									
								</div>
								
							</div>	
							<br>
					
						{% endfor %}
							
					</td>
				</tr>
				</table>
				
			</div>
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
