{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Subscriber Benefits
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div style="font-size: 24px; margin-bottom: 5px;">Subscribers Get the Best Benefits!</div><br><br>
			
			
			<div style="float: right; display: inline; width: 250px;">
				
				
				<div class="subscription" style="text-align: center;">
					<a href="/concerts/subscriptions" class="blue">Subscribe Today!</a>
				</div>
				<br><br>
			
				
			</div>
			
			
			<div style="width: 250px;">
				<div style="font-size: 17px; margin-bottom: 5px;">Enjoy 50% Off:</div>
				<i>New subscribers SAVE 50% off single ticket prices!</i>
				<br><br><br>
				
				<div style="font-size: 17px; margin-bottom: 5px;">Best Seats:</div>
				<i>Get first choice seating before tickets go on sale to the general public!</i>
				<br><br><br>
				
				<div style="font-size: 17px; margin-bottom: 5px;">Flexible, Free Ticket Exchange:</div>
				<i>Con't make a concert?  Exchange your tickets for any other Masterworks or Pops concert!</i>
				<br><br><br>
				
				<div style="font-size: 17px; margin-bottom: 5px;">Be an Insider:</div>
				<i>Enjoy opportunities to meet the conductor, musicians and guest artists.</i>
				<br><br><br>
				
				<div style="font-size: 17px; margin-bottom: 5px;">Payment Plans:</div>
				<i>Season subscribers get white glove treatments!  To set up a payment plan call (501) 666-1761.</i>
				<br><br><br>
				
				<div style="font-size: 17px; margin-bottom: 5px;">Never Wait in Line:</div>
				<i>Your seats are <b>guaranteed</b> with a subscription!
			</div>
			
			
			
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
