{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code "CH1" when ordering online or over the phone.</b>  Offer ends on Friday, October 12th.
					<br><br><br><br>
				



					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/elisso_small.jpg" alt="Vibrant Virtuosity">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">OCT 20-21</font><br>

                                                        <a href="/concerts/vibrant-virtuosity" class="blue">Vibrant Virtuosity</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>

                                                        <a href="/concerts/vibrant-virtuosity" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/chamber_small_6.jpg" alt=Duos">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">NOV 10-11</font><br>

                                                        <a href="/concerts/duos" class="blue">Duos</a>
                                                        <br>
                                                        <font color="#2d9bfd">chamber</font><br><br>
							Mozart - Duo No.1 in G for Violin and Viola<br>Kodaly: Duo for Violin and Cello<br><br>
                                                        <a href="/concerts/duos" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>



		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
