{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or both of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code "CH2" when ordering online or over the phone.</b>  Offer ends on Friday, November 16th.
					<br><br><br><br>
				



					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/guillermo_small.jpg" alt="Ancient Airs & Dances">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">JAN 26-27</font><br>

                                                        <a href="/concerts/ancient-airs" class="blue">Ancient Airs & Dances</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>

                                                        <a href="/concerts/ancient-airs" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/chamber_small_6.jpg" alt=Rockefeller 10th Anniversary">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">FEB 5</font><br>

                                                        <a href="/concerts/rockefeller_anniv" class="blue">Rockefeller 10th Anniversary</a>
                                                        <br>
                                                        <font color="#2d9bfd">chamber</font><br><br>
							Mendelssohn - String Quartet in Da<br>Tchaikovsky: String Quartet No.1<br><br>
                                                        <a href="/concerts/rockefeller_anniv" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>



		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
