
{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Drive to Maumelle!
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div class="faq">
			<h1 id="top">Drive with us to Maumelle</h1><br/>
			We took the ASO Van for a 20 minute drive from mid-town Little Rock to the new home of the Stella Boyle Smith Masterworks Series: <a href="/venue/maumelle-performing-arts-center" target="_blank" alt="Click for MPAC Details">The Maumelle Performing Arts Center!</a> Sit back in the passenger seat and ride along to <b>see how easy the trip is!</b><br/>
			<br/>
			<div id="loadImg">
				<img src="/media/images/loading.gif"/>
			</div>
			<div id="drive_iframe">
				<iframe width="560" height="315" name=iframe src="http://www.youtube.com/embed/VrZgR3edAJk" frameborder="0" allowfullscreen onload="document.getElemenetById('loadImg').style.display='none';"></iframe>
			</div>
			<br/>
			<br/>
			<h1 id="top">Delight Guaranteed!</h1><br/>
			We are so sure you'll be glad you subscribed that we GUARANTEE it: if after your first concert you don't agree, we'll cancel your subscription and refund the balance of your payment.
			
		
		</div>
		</div>
		
	</td>
	</tr>
	</table>
			
{% endblock %}	
