
{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Money Back Guarantee
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div class="faq">
			<h1 id="top">Delight Guaranteed!</h1><br/>
			We are so sure you'll be glad you subscribed that we GUARANTEE it: if after your first concert you don't agree, we'll cancel your subscription and refund the balance of your payment.
			<br/>
			<br/>
			<img src="/media/images/delight.jpg" alt="Delight Guaranteed!"/>
		</div>
		</div>
		
	</td>
	</tr>
	</table>
			
{% endblock %}	
