{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code "INC1DEAL" when ordering online or over the phone.</b><br/>
					<br/>
					Offer ends on Friday, January 31st.
					<br><br><br><br>
				



					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/1314mw4_small.jpg" alt="Bohemian Rhapsody">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">JAN 25-26</font><br>

                                                        <a href="/concerts/bohemian-rhapsody" class="blue">Bohemian Rhapsody</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
							Brahms - Piano Concerto No. 2<br/>
							Dvorak - Slavonic Dances<br/>
							<br/>
                                                        <a href="/concerts/bohemian-rhapsody" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/1314ch4_small.jpg" alt"Dvorak's Piano Trio">
						</div>



                                                <div class="event_right">
                                                        <font size="5">JAN 28</font><br>

                                                        <a href="/concerts/dvoraks-piano-trio" class="blue">Dvorak's Piano Trio</a>
                                                        <br>
                                                        <font color="#2d9bfd">chamber</font><br/><br/>
							Mahler - Piano Quartet<br/>
							Dvorak - Piano Trio No. 3<br/>
							<br/>
                                                        <a href="/concerts/dvoraks-piano-trio" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/1314p3_small.jpg" alt="Best of Broadway">
						</div>



                                                <div class="event_right">
                                                        <font size="5">FEB 15-16</font><br>

                                                        <a href="/concerts/best-broadway" class="blue">Best of Broadway</a>
                                                        <br>
                                                        <font color="#2d9bfd">pops</font><br><br>
							Hits from Broadway's most beloved show tunes - get ready to smile!<br/>
							<br/>
                                                        <a href="/concerts/best-broadway" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>



		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
