{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code "MW1OFFER" when ordering online or over the phone.</b>  Offer ends on Friday, October 4th.
					<br><br><br><br>
				



					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/1314p1_small.jpg" alt="Halloween Spooktacular">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">OCT 12-13</font><br>

                                                        <a href="/concerts/halloween-spooktacular" class="blue">Halloween Spooktacular</a>
                                                        <br>
                                                        <font color="#2d9bfd">pops</font><br><br>
							Have a spooky time with your ASO - Come in costume, bring the family and hear music from Superman, Ghostbusters, Mussorgsky, Wagner, and more!
							<br/>
                                                        <a href="/concerts/halloween-spooktacular" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/moody_small.jpg" alt=Barber's Violin Concerto">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">OCT 19-20</font><br>

                                                        <a href="/concerts/barbers-violin-concerto" class="blue">Barber's Violin Concerto</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
							Barber - Concerto for Violin<br/>
							Rachmaninoff - Symphony No. 2<br><br>
                                                        <a href="/concerts/barbers-violin-concerto" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>
					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/1314mw3_small.jpg" alt="Beethoven and Blue Jeans">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">NOV 9-10</font><br>

                                                        <a href="/concerts/bluejeans-1314" class="blue">Beethoven and Blue Jeans</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
							Gulda - Concerto for Cello and Wind Orchestra<br/>
							Beethoven - Symphony No. 4<br><br>
                                                        <a href="/concerts/bluejeans-1314" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>



		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
