{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code 5000 when ordering online or over the phone.</b>  Offer ends on Friday, October 14.
					<br><br><br><br>
					<div class="event">	
						
						<div class="event_left">
							<img src="/media/show_images_small/p1small.jpg" alt="The Music of John Williams">
						</div>
		
						
						<div class="event_right">
							<font size="5">OCT 8-9</font><br>
							
							<a href="/concerts/music-john-williams" class="blue">Music of John Williams</a>
							<br>
							<font color="#2d9bfd">pops</font><br><br>
						
							Music from Star Wars, Jaws, Superman, Indiana Jones, Schindler's List, Harry Potter and many others<br><br>
							<a href="/concerts/music-john-williams" class="smallBlue">Tickets & Info</a>
							
						</div>
						
					</div>	
					
					<br><br>

					<div class="event">	
						
						<div class="event_left">
							<img src="/media/show_images_small/krieger.jpg" alt="Fire & Light">
						</div>
		
						
						<div class="event_right">
							<font size="5">OCT 22-23</font><br>
							
							<a href="/concerts/legends" class="blue">Fire & Light</a>
							<br>
							<font color="#2d9bfd">masterworks</font><br><br>
						
							Brahms: Concerto for Piano No. 1<br>
							Haydn: Symphony No. 59 "Fire"
							<br><br>
							<a href="/concerts/legends" class="smallBlue">Tickets & Info</a>
							
						</div>
						
					</div>

					<br><br>
				
					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/dbr.jpg" alt="Beethoven and Blue Jeans">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">NOV 12-13</font><br>

                                                        <a href="/concerts/beethoven-blue-jeans" class="blue">Beethoven & Blue Jeans</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
							Bernstein: West Side Story<br>
							Beethoven: Lenore and Egmont Overtures

							<br><br>
                                                        <a href="/concerts/beethoven-blue-jeans" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

		
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
