{% extends "concerts/concerts_base.html" %}
{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code "MW2OFFER" when ordering online or over the phone.</b><br/>
					<br/>
					Offer ends on Friday, November 1st.
					<br><br><br><br>
				



					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/1314mw3_small.jpg" alt="Beethoven & Blue Jeans">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">NOV 9-10</font><br>

                                                        <a href="/concerts/bluejeans-1314" class="blue">Beethoven & Blue Jeans</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
							Strauss: Die Fledermaus: Overture<br/>
							Gulda: Concerto for Cello and Wind Orchestra<br/>
							Beethoven: Symphony No. 4<br/>
							<br/>
                                                        <a href="/concerts/bluejeans-1314" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/chamber_small_2.jpg" alt=Masterworks">
						</div>



                                                <div class="event_right">
                                                        <font size="5">NOV 12</font><br>

                                                        <a href="/concerts/artist-distinction-inbal-segev" class="blue">Artist of Distinction: Inbal Segev</a>
                                                        <br>
                                                        <font color="#2d9bfd">chamber</font><br><br>
							Prokofiev: String Quartet No. 1<br/>
							Enescu: Octet in C Major<br><br>
                                                        <a href="/concerts/artist-distinction-inbal-segev" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/1314p2_small.jpg" alt=Holiday Fantasy">
						</div>



                                                <div class="event_right">
                                                        <font size="5">DEC 20-22</font><br>

                                                        <a href="/concerts/happy-holidays-2013" class="blue">Holiday Fantasy</a>
                                                        <br>
                                                        <font color="#2d9bfd">pops</font><br><br>
							Your favorite carols, dancing santas, sing-alongs and more!<br><br>
                                                        <a href="/concerts/happy-holidays-2013" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>



		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
