{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code 5101 when ordering online or over the phone.</b>  Offer ends on Friday, November 4.
					<br><br><br><br>
				
					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/dbr.jpg" alt="Beethoven and Blue Jeans">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">NOV 12-13</font><br>

                                                        <a href="/concerts/beethoven-blue-jeans" class="blue">Beethoven & Blue Jeans</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
							Bernstein: West Side Story<br>
							Beethoven: Leonore and Egmont Overtures

							<br><br>
                                                        <a href="/concerts/beethoven-blue-jeans" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

		
				
					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/chamber_________.jpg" alt="Bridging New and Old">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">NOV 15</font><br>

                                                        <a href="/concerts/bridging-new-and-old" class="blue">Bridging New and Old</a>
                                                        <br>
                                                        <font color="#2d9bfd">chamber</font><br><br>
							Dvorak: Piano Quartet in Eb<br>
							Haydn: String Quartet No. 63

							<br><br>
                                                        <a href="/concerts/bridging-new-and-old" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>


					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/p2small.jpg" alt="Happy Holidays">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">DEC 16-18</font><br>

                                                        <a href="/concerts/happy-holidays" class="blue">Happy Holidays</a>
                                                        <br>
                                                        <font color="#2d9bfd">pops</font><br><br>
Traditional Christmas tunes as well as a few surprises that are sure to warm your heart.
							<br><br>
                                                        <a href="/concerts/happy-holidays" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>


		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
