{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code 5010 when ordering online or over the phone.</b>  Offer ends on Friday, February 18.
					<br><br><br><br>
				
					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/p3.jpg" alt="Couples that Stole your Heart">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">FEB 12-13</font><br>

                                                        <a href="/concerts/couples_heart" class="blue">Couples that Stole your Heart</a>
                                                        <br>
                                                        <font color="#2d9bfd">pops</font><br><br>

							Bring your Valentine for music to remind you of the best movie couples!<br><br>
                                                        <a href="/concerts/couples_heart" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/mw5.jpg" alt="Incredible Beethoven">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">FEB 26-27</font><br>

                                                        <a href="/concerts/incredible_beethoven" class="blue">Incredible Beethoven</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>

                                                        Brahms: Symphony No. 3<br>Beethoven: Violin Concerto<br><br>
                                                        <a href="/concerts/incredible_beethoven" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
					<br><br>
					<div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/p4.jpg" alt="St. Patrick's Day Celebration">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">MAR 19-20</font><br>

                                                        <a href="/concerts/st_patricks" class="blue">St. Patrick's Day Celebration</a>
                                                        <br>
                                                        <font color="#2d9bfd">pops</font><br><br>

                                                        Celebrate St. Patrick's Day with guests- Mithril! This Celtic group from Alabama will have you dancing a jig in the aisles to 
traditional and not-so-traditional Irish music!<br><br>
                                                        <a href="/concerts/st_patricks" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>



		
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
