
{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<img src="/media/images/main_banner/mw_combo.jpg"/>	
					<br/><br/>
					<b>To take advantage of this special offer, use the coupon code "COMBO" when ordering online or by calling 501-666-1761 ext. 100</b><br/>
					<br/>
					Offer ends on Friday, February 22nd.
					<br><br><br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/guillermo_small.jpg" alt="Ancient Airs & Dances">
						</div>



                                                <div class="event_right">
                                                        <font size="5">JAN 26-27</font><br>

                                                        <a href="/concerts/ancient-airs" class="blue">Ancient Airs & Dances</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br/><br/>
							Tchaikovsky: Variations on a Rococo Theme<br/>
							Beethoven: Symphony No. 2<br/>
							Respighi: Ancient Airs and Dances<br/><br/>
                                                        <a href="/concerts/ancient-airs" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/orch3small_1.jpg" alt="Truth & Triumph">
						</div>



                                                <div class="event_right">
                                                        <font size="5">FEB 23-24</font><br>

                                                        <a href="/concerts/truth-triumph" class="blue">Truth and Triumph</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
							Shostakovich: Symphony No. 10<br/>
							Higdon: Concerto for Orchestra<br/><br/>
                                                        <a href="/concerts/truth-triumph" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/midori_small.JPG" alt="Midori & Tchaikovsky">
						</div>



                                                <div class="event_right">
                                                        <font size="5">APR 13-14</font><br>

                                                        <a href="/concerts/midori-tchaikovsky" class="blue">Midori and Tchaikovsky</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
							Tchaikovsky: Violin Concerto<br/>
							Brahms: Symphony No. 4<br/><br/>
                                                        <a href="/concerts/midori-tchaikovsky" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>



		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
