{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code "P1OFFER" when ordering online or over the phone.</b>  Offer ends on Friday, October 25th.
					<br><br><br><br>
				



					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/1314mw3_small.jpg" alt="Beethoven & Blue Jeans">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">NOV 9-10</font><br>

                                                        <a href="/concerts/bluejeans-1314" class="blue">Beethoven & Blue Jeans</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>

                                                        <a href="/concerts/bluejeans-1314" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/1314ch2_small.jpg" alt="Artist of Distinction: Inbal Segev">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">NOV 12</font><br>

                                                        <a href="/concerts/artist-distinction-inbal-segev" class="blue">Artist of Distinction: Inbal Segev</a>
                                                        <br>
                                                        <font color="#2d9bfd">chamber</font><br><br>
							Prokofiev: String Quartet No. 1<br>Villa Lobos: Bachianas Brasileiras No. 1<br><br>
                                                        <a href="/concerts/artist-distinction-inbal-segev" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        
                                        <br><br>

					<div class="event">
					
						<div class="event_left">
							<img src="/media/show_images_small/1314p2_small.jpg" alt="Holiday Fantasy">
						</div>

						<div class="event_right">
							<font size="5">DEC 20-22</font><br/>
						
							<a href="/concerts/happy-holidays-2013" class="blue">Holiday Fantasy</a>
							<br/>
							<font color="#2d9bfd">pops</font><br/><br/>
							Christmas carols, sing-alongs, and the ASO - come celebrate the season with your favorite holiday music!<br/><br/>
							<a href="/concerts/happy-holidays-2013" class="smallBlue">Tickets & Info</a>
						</div>
					</div>



		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
