{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code 5103 when ordering online or over the phone.</b>  Offer ends on Friday, January 13.
					<br><br><br><br>
				

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/small.jpg" alt="Russian Winter">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">JAN 28-29</font><br>

                                                        <a href="/concerts/russian-winter" class="blue">Russian Winter</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
Tchaikovsky: Symphony No. 2<br>
Shostakovich: Piano Concerto No. 2
							<br><br>
                                                        <a href="/concerts/russian-winter" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>
	
					<div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/newyork.jpg" alt="Valenties in New York">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">FEB 11-12</font><br>

                                                        <a href="/concerts/valentines-new-york" class="blue">Valentines in New York</a>
                                                        <br>
                                                        <font color="#2d9bfd">pops</font><br><br>

You and your valentine will be strolling through Central Park with tunes from the city that never sleeps!
							<br><br>
                                                        <a href="/concerts/valentines-new-york" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>

					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/orch3small.jpg" alt="Ode to Joy">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">FEB 25-26</font><br>

                                                        <a href="/concerts/ode-joy" class="blue">Ode to Joy</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
Beethoven: Symphony No. 9<br>
Schoenberg: A Survivor from Warsaw
							<br><br>
                                                        <a href="/concerts/ode-joy" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>
				





		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
