{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Special Ticket Offer
{% endblock %}

{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
			
				<div style="font-size: 24px; margin-bottom: 5px;"><a name="masterworks">As a Thank You - Save 50%!</a></div><br>
					
					Thank you for taking the time to share your thoughts with us.  In return, we would like to invite you to one or all of the concerts below at 50% off!<br><br>
					<b>To take advantage of this special price, use the coupon code 5106 when ordering online or over the phone.</b>  Offer ends on Friday, March 30.
					<br><br><br><br>
				


				 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/mw6small.jpg" alt="Desert and Sea">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">APRIL 14-15</font><br>

                                                        <a href="/concerts/desert-sea" class="blue">Desert and Sea</a>
                                                        <br>
                                                        <font color="#2d9bfd">masterworks</font><br><br>
							Debussy: La mer<br>Torke: Mojave Concerto for Marimba<br><br>
                                                        <a href="/concerts/desert-sea" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>


					 <div class="event">

                                                <div class="event_left">
                                                        <img src="/media/show_images_small/divassmall.jpg" alt="Wiked Divas">
                                                </div>


                                                <div class="event_right">
                                                        <font size="5">MAY 12-13</font><br>

                                                        <a href="/concerts/wicked-divas" class="blue">Wicked Divas</a>
                                                        <br>
                                                        <font color="#2d9bfd">pops</font><br><br>
							Favorites from Wicked, The Wizard of Oz, My Fair Lady, and Chicago.<br><br>
                                                        <a href="/concerts/wicked-divas" class="smallBlue">Tickets & Info</a>

                                                </div>

                                        </div>
                                        <br><br>



		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}
