{% extends "special/special_base.html" %}

{% block title_detail %}
	Beer & Brats Street Party	
{% endblock %}


{% block post_nav %}

	<td width="920" valign="top">
		<div id="content_special">
			<br/><br/>
			<a href="/concerts/bluejeans-1314"><img src="/media/images/main_banner/bbj_bannerwithparty.jpg" alt="3rd Annual Beer & Brats Street Party"></a>
			<br/><br/>
			<div style="font-style:verdana; font-size:24px; text-align:center">
				2013 Beethoven & Blue Jeans | 3rd Annual Beer & Brats Street Party
			</div>
			<br/><br/>
			This casual concert kicks off with the Beer & Brats Street Party at 6 pm on Saturday
			and 1 pm on Sunday.  Concert ticket holders can enjoy free brats, $2 Diamond Bear beer, the sounds
			of the Episcopal Collegiate School Steel Drum Band, and maybe a few surprises!  Concert goers can follow <a href="https://twitter.com/ARsymphony">@ARsymphony</a> 
			and the hashtag #BeethovenAndBlueJeans via Twitter to get the inside scoop about the Street
			 Party and to learn insights about the concert in progress.<br/>
			<br/>
			<span style="font-family:verdana; font-size:18px">Tickets for this casual concert and street party start at $14 - </span><a style="text-decoration:none; color:#2D9BFD; font-style:verdana; font-size:18px" href="/concerts/bluejeans-1314">click here to get your tickets now!</a><br/>
			<br/><a style="text-decoration:none; color:#2D9BFD; font-style:verdana; font-size:18px" href="http://www.facebook.com/events/529522647127772">Check out the event on Facebook</a><br/>
			<br/>
			<span style="font-family:verdana; font-size:18px">Support the Arkansas Food Bank!</span><br/>
			<br/>
			Beethoven & Blue Jeans attendees can also </b>support the Arkansas Foodbank</b> by dropping off 
			a frozen turkey or other bird at the BBJ Street Party.  And as a thank you, turkey <b>donors will receive a 
			pair of free tickets</b> to any concert from the ASO's 2013-2014 Season.
			<br/><br/>
			<table width="920" cellpadding="0" cellspacing="0" border="0">
				<td width="450" valign="top">
					<img src="/media/images/segev_bbj.jpg" alt="Inbal Segev, cello"/>
				</td>
				<td width="450" valign="top">
					<img src="/media/images/old_banners/steelband.jpg" alt="Steel Band"/>
				</td>
			</table>
			
		
		</div>
	</td>
	</tr>
	</table>
{% endblock %}	
