

{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Robinson Center Renovation | FAQ
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div class="faq">
			<h1 id="top">Conway Composers Guild Inaugural<br/>W. Francis McBeth Composition Contest</h1><br/>
				<a href="/media/ccg_contest_application.pdf">Download the application</a><br/>
				<br/>
			<b>The Conway Composers Guild announces the Inaugural W. Francis McBeth Memorial Composition Contest for 2013-2014</b><br/>
			<br/>
			The Conway Composers Guild, founded in 2010 in response to the Conway 2025 Arts and Culture Planning Committee's initiative 
			to raise awareness for and promote the arts in Conway, Arkansas, announces the inaugural year for the W. Francis McBeth Memorial 
			Composition Contest. By founding the competition the guild seeks to honor the memory of the Arkansas' most significant composer, 
			William Francis McBeth McBeth (March 9, 1933 - January 6, 2012) with a project that will continue McBeth's legacy as composer 
			and educator by encouraging young composers from the state which became McBeth's home for over half a century.<br/>
			<br/>
			McBeth was appointed Composer Laureate for the State of Arkansas by the Governor in 1975, the first Composer Laureate in the United 
			States.  In 1962, he conducted the Arkansas All-State Band, with future president Bill Clinton playing in the tenor saxophone section. 
			From 1957 until his retirement in 1996, McBeth taught at Ouachita Baptist University in Arkadelphia, Arkansas. He was the third conductor 
			of the Arkansas Symphony Orchestra from 1970 until 1973. The competition then seeks to acknowledge all of the ways Dr. McBeth's contributed to 
			the artistic development of the state of Arkansas by tying together his work as composer, conductor, and educator.<br/>
			<br/>
			The Finale Prize, by MakeMusic for the W. Francis McBeth Memorial Composition Competition is what makes this program unique among composition 
			contests.  The winner of the competition will receive Finale music notation software from the MakeMusic Corporation in conjunction with a commission 
			for a work by the Arkansas Symphony Orchestra for the 2014-2105 season, and mentoring by professional composers and conductors to create a successful 
			work for this commission over the course of the year.<br/>
			<br/>
			Student composers under the age of 30 who are Arkansas natives or who reside or study in Arkansas are eligible to enter.  The competition will be 
			adjudicated by distinguished professional composers from around the United States.  The competition deadline is December 6, 2013. The winner will be 
			announced at the Conway Composers Guild Annual Concert at 3:00 PM, February 2, 2014 at First United Methodist Church in Conway.<br/>
			<br/>
			The Conway Composers Guild (CCG) is a group of composers in Conway, Arkansas and surrounding areas committed to writing and promoting serious music 
			compositions and enriching the Conway area with new music and community spirit.  The Conway Composers Guild's mission is to cultivate and promote 
			serious new music making in Conway AR and its environs.  Membership is open to composers of serious music who live and/or work in Conway, AR via 
			sponsorship by a current CCG member. <br/>
			<br/>
			Current Conway Composers Guild Board Members are: President/Chair: Karen Griebling, Vicepresident/Secretary: Blake Tyson, Treasurer: Michael Yoder, 
			Membership Chair: Ryan Gaston, Program Chair: Paul Dickinson, Publicity Chair: Brenna Gilstrap. For more information including membership inquiries 
			and contest entry forms: contact <a href="mailto:musicianmail-ccg@yahoo.com">musicianmail-ccg@yahoo.com</a>. "Like" us on facebook at The Conway Composers Guild.

			</div>
		</div>
		
	</td>
	</tr>
	</table>
			
{% endblock %}	
