
{% extends "concerts/concerts_base.html" %}

{% block title_detail %}
	Robinson Center Renovation | FAQ
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			<div class="faq">
			<h1 id="top">Robinson Center Music Hall Renovation</h1><br/>
	TESTING  - With the announcement that Robinson Center Music Hall -- long-time performance home of the Arkansas Symphony Orchestra -- 
	would be undergoing an expansion and renovation in the summer of 2014 there have been countless questions about how this would 
	impact ASO.  Below are some Frequently Asked Questions and the most current answers that we can provide.<br/>
	<br/>
	<a href="#1314">Is the ASO going to perform the 2013-2014 Season at Robinson Center?</a><br/>
	<a href="#howlong">How long will Robinson be closed?</a><br/>
	<a href="#involved">Has the ASO been involved in Robinson's renovation plans?</a><br/>
	<a href="#plan">Is there a plan for where ASO will perform during the renovation?</a><br/>
	<a href="#method">How will you select the temporary space?</a><br/>
	<a href="#criteria">What does the ASO look for in a temporary space?</a><br/>
	<a href="#when">When will a decision be made about temporary performance space during the renovation?</a><br/>
	<br/>
	<h4 id="1314">Is the ASO going to perform the 2013-2014 Season at Robinson Center?</h4>
		Yes.  In fact, we have a <a href="/season">very exciting season</a> planned for both our ACXIOM Pops Live! Series and our Stella Boyle Smith Masterworks Series.
		These performances will all take place in Robinson. Tentatively, our final performance before renovation begins will be our May 3 and 4 Pops Live performance 
		featuring the <a href="/concerts/shower-people-james-taylor">Music of James Taylor.</a><br/>
		<br/>
		<a href="#top">Go back to the top</a>
	<br/>
	<h4 id="howlong">How long will Robinson be closed?</h4>
		We understand that the renovation will take two years to complete.  Should the renovation take longer we are prepared to adapt to the new schedule.<br/>
		<br/>
		<a href="#top">Go back to the top</a>
	<br/>
	<h4 id="involved">Has the ASO been involved in Robinson's renovation plans? </h4>
		We have been invited to offer insight and feedback on the acoustics and design elements that 
		would affect Arkansas Symphony Orchestra performances.  We have strived to ensure the best possible 
		music experience for our audience and look forward to performing in the new space.<br/>
		<br/>
		<a href="#top">Go back to the top</a>
	<br/>
	<h4 id="plan">Is there a plan for where ASO will perform during the renovation?</h4>
		In anticipation of the renovation and temporary closure of Robinson Center, the 
		ASO created a special task force assigned to review possible performance location 
		options.  This group has taken that responsibility very seriously and has spent many days 
		vetting various options.  In fact, one possible location was tested with an actual performance of 
		ASO.  We duplicated a concert performance with a free open rehearsal that brought in hundreds of 
		audience members.  This is not something we will do for all possible locations but it is something 
		we have at our disposal to help us determine our best options. <br/>
		<br/>
	<br/>
		While we anticipate that no ONE place will be perfect, we are confident that we will find a temporary location or locations to suit our needs.<br/>
		<br/>
		<a href="#top">Go back to the top</a>
	<br/>
	<h4 id="method">How will you select the temporary space?</h4>
		We will review each space and determine if it meets our criteria (see next question).  We may 
		find a space that meets most but not all of the criteria and will have to adapt.  For example, if 
		the space doesn't accommodate a large audience we might need to host multiple performances.<br/>
		<br/>
		<a href="#top">Go back to the top</a>
	<br/>
	<h4 id="criteria">What does the ASO look for in a temporary space?</h4>
		We have several factors to consider when choosing a performance space.  Those include (in no particular order):
		<ul>
			<li>Capacity: Can the space accommodate an audience as large as 1200-1800?</li>
			<li>Location: Is the space accessible to our patrons?</li>
			<li>Parking: Is there adequate parking?</li>
			<li>Safety: Will our patrons feel safe (i.e. plenty of lighting)? </li>
			<li>Acoustics:  Does the space enhance or distract from the musical experience of our audience?</li>
			<li>Cost: Does the rental fees or other expenses fit within our budget and help us remain good stewards of donor dollars?</li>
		</ul>
		<br/>
		<a href="#top">Go back to the top</a>
	<br/>
	<h4 id="when">When will a decision be made about temporary performance space during the renovation?</h4>
		We will do our due diligence to ensure that we continue to offer Arkansans amazing musical 
		performances, enrich the arts scene in our state, and continue to be good stewards of donor 
		dollars.  This will take some time but we are working hard to secure performance space and 
		announce the decision by the Fall of 2013. <br/>
		<br/>
		<a href="#top">Go back to the top</a>
			
		</div>
		</div>
		
	</td>
	</tr>
	</table>
			
{% endblock %}	
