{% extends "special/special_base.html" %}

{% block title_detail %}
	2014 Summer Strings Camp			
{% endblock %}


{% block post_nav %}

	<td width="920" valign="top">
		<div id="content_special">
			<br/><br/>
			<div style="font-style:verdana; font-size:24px; text-align:center">
				2014 Summer Strings Camp
			</div>
			<br/><br/>
		The Arkansas Symphony Orchestra announces a comprehensive five-day summer program for violin, viola, cello and double bass players at the elementary, junior high, and high school levels.  Students must have had one year of string study on their particular instruments.  Activities include chamber music ensembles, music theory and listening classes, and sectionals focusing on the 2014 All-Region audition materials.  Classes will meet from 1:30 to 5:00 pm Monday through Friday at Pulaski Heights United Methodist Church in Little Rock.  This wonderful week of music will conclude on Friday with a 4:30 pm performance for family and friends.<br/>
<br/>
		<a href="/media/images/summer_strings_2014.pdf">Download information and application here.</a><br/>
<br/>
		<img src="/media/images/fourte.jpg" alt="Youth Quartet">	
		
		</div>
	</td>
	</tr>
	</table>
{% endblock %}	
