{% extends "connect/connect_base.html" %}

{% block title_detail %}
	Thanks For Responding	
{% endblock %}


{% block post_nav %}

	<td width="700" valign="top">
		<div id="content">
			<br><br>
			
		Your response has been received.  If you have any questions please email Brandon at <a href="mailto:bdorris@arkansassymphony.org">bdorris@arkansassymphony.org</a><br/>
		<br/>
		Please click <a href="/">here</a> to see our upcoming concerts!	
		
		</div>
	</td>
	</tr>
	</table>
			
{% endblock %}	
