{% extends "special/special_base.html" %}

{% block title_detail %}
	2014 Youth Rock Camp			
{% endblock %}


{% block post_nav %}

	<td width="920" valign="top">
		<div id="content_special">
			<br/><br/>
			<div style="font-style:verdana; font-size:24px; text-align:center">
				The Point 94.1 and Arkansas Symphony Orchestra Present<br/>
				<img src="/media/images/main_banner/aso_point_rbp.jpg" alt="Youth Rock Camp"/>
			</div>
			<hr/>
			<div style="font-style:verdana; font-size:12px;">
				Paganini, Bruch, and Prokofiev meet Metallica, Led Zeppelin & AC/DC in an exciting partnership 
				between the Arkansas Symphony Orchestra and The Point 94.1! Rock-star violinist 
				<a href="/artists/rachel-barton-pine/rachel-barton-pine-and-asyo"><b>Rachel Barton Pine</b></a> returns 
				to Little Rock to lead a series of masterclasses, rehearsals, and finally, a <a href="/concerts/rachel-barton-pine-and-asyo" alt="Concert Info & Tickets"><b>concert</b></a> featuring 
				Arkansas youth musicians accompanying the fiery virtuoso.<br/>
				<br/>
				Email <a href="mailto:bburroughs@arkansassymphony.org">Barbara</a> or call 501-666-1761, ext. 116 for information on participating in the camp.<br/><br/>
				<div style="font-style: verdana; font-size:24px;">
					Camp Schedule
				</div>
				<table width="700" cellpadding="10" cellspacing="0" border="0">
					<tbody>
						<tr>
							<td colspan="2">
								<div style="font-style:verdana; font-size:16px;">
									<b>Friday, March 28, 2014</b>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								3:00 PM - 5:00 PM
							</td>
							<td>
								Strings only rehearsal with Rachel Barton Pine
							</td>
						</tr>
						<tr>
							<td>
								5:00 PM - 6:00 PM
							</td>
							<td>
								Dinner provided for camp participants
							</td>
						</tr>
						<tr>
							<td>
								6:00 PM - 7:15 PM
							</td>
							<td>
								Improvisation Workshop (open to the public)
							</td>
						</tr>
						<tr>
							<td>
							7:30 PM - 9:00 PM
							</td>
							<td>
								Rehearsal with Rachel Barton Pine (all participants)
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div style="font-style:verdana; font-size:16px;">
									<b>Saturday, March 29, 2014</b>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								9:00 AM - 11:00 AM
							</td>
							<td>
								Violin Masterclass with Rachel Barton Pine (open to the public)
							</td>
						</tr>
						<tr>
							<td>
								11:15 AM - 12:45 PM
							</td>
							<td>
								Strings only rehearsal
							</td>
						</tr>
						<tr>
							<td>
								12:45 PM - 2:00 PM
							</td>
							<td>
								Lunch provided to camp participants
							</td>
						</tr>
						<tr>
							<td>
								2:00 PM - 5:00 PM
							</td>
							<td>
								Rehearsal with Rachel Barton Pine
							</td>
						</tr>
						<tr>
							<td>
								5:00 PM - 6:00 PM
							</td>
							<td>
								Dinner provided to camp participants
							</td>
						</tr>
						<tr>
							<td>
								6:00 PM - 9:00 PM
							</td>
							<td>
								Rehearsal with Rachel Barton Pine
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div style="font-style:verdana; font-size:16px;">
									<b>Sunday, March 30, 2014</b>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								1:00 PM - 2:15 PM
							</td>
							<td>
								Dress rehearsal with Rachel Barton Pine
							</td>
						</tr>
						<tr>
							<td>
								3:00 PM - 4:30 PM
							</td>
							<td>
								Final Concert - <a href="/concerts/rachel-barton-pine-and-asyo"><b>Get your tickets now!</b></a>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="text-align:center"><br/><hr/><br/><img src="/media/images/education/aso_black.jpg" alt="Arkansas Symphony Orchestra"/> <a href="http://www.point941.com" alt="The Point 94.1"><img src="/media/sponsor_images/thepoint_1.png" alt="The Point 94.1"/></a></div>
				 
			</div>
		
		</div>
	</td>
	</tr>
	</table>
{% endblock %}	
