
{% extends "designerhouse/designer-main.html" %}

{% block title %}About{% endblock %}

{% block page_title %}

<h3>	About Symphony Designer House XXII</h3>

{% endblock %}
					
{% block sub_content %}
	<div class="row">
		<div class="twelve columns">
			<div class="body_text">
				<a href="http://www.arsymphonyguild.org">Arkansas Symphony Orchestra Guild</a> hosts Symphony Designer House XXII, central Arkansas's premier designer home event 
				that supports music education programs in our schools and throughout the state.<br/>
				<br/>
				More than 20 leading interior and landscape designers join talents to create a showcase home. Located at 9 Bella Rosa 
				Court off Highway 10 in west Little Rock, the home will be open to the public beginning April 19 and ending on Mother's 
				Day, May 12. Hours are 10:00 am to 4:00 pm Tuesday-Saturday, 1:00 pm - 4:00 pm Sundays. Tickets are $20 single-day, or 
				$35 run-of-show.<br/>
				<br/>
				 "The great tradition of this event is to bring beautiful home design ideas to the public while raising money for and 
				 awareness of the amazing work of the <a href="/">Arkansas Symphony Orchestra</a>, especially the ASO education programs," said Symphony Designer House 
				 XXII Chairman Susan Marsh. "Last year, these programs reached 24,000 Arkansas students, many of whom would have had 
				 little if any exposure to classical music or the instruments used to produce this music."<br/>
				 <br/>
				 "The ASO Guild was honored at last summer's National Conference of the League of American Orchestras for its highly 
				 successful Orchestra and You, a free program co-sponsored by the Guild that introduces 1st - 3rd graders to orchestral 
				 instruments. This particular recognition was an adaptation of the program for a garden club for adults. We are one of 
				 only 18 Guilds to be so honored at this prestigious national conference," said Marsh, who has also served on the ASO 
				 Board of Directors since 2011.<br/>
				 <br/>
				 "Little Rock and all of Arkansas have an amazing cultural resource in our Symphony. Philip Mann, our dynamic music 
				 director now in his 3rd season with the ASO, has brought a welcome energy and freshness to musical programming. The 
				 orchestra musicians are outstanding, delivering powerhouse performances concert after concert," she added.  "We also 
				 are so fortunate to have the support of major sponsors AT HOME IN ARKANSAS, Glazer's, Party Time and Thoma Thoma."<br/>
				 <br/>
				 Special events include four themed evening galas:  <a href="/designer-house/crescendo-party">Crescendo: Lifting the Veil</a> preview party including exotic Middle 
				 Eastern/Mediterranean undertones, themed entertainment and the Arkansas Symphony Orchestra's Rockefeller Quartet on 
				 April 18; <a href="/designer-house/girls-night-out">Girls' Night Out</a> featuring New York-chic entertainment and festivities on April 25; <a href="/designer-house/moonshine-may">Moonshine in May</a> complete 
				 with crawfish boil and southern-style jazz/funk May 2; and <a href="/designer-house/teapots-and-toasts">Teapots & Toasts</a> for mothers and daughters of all ages on Mother's 
				 Day, May 12. Members of the ASO Youth Orchestra will entertain. Gala proceeds benefit the ASO music education and other programs 
				 supporting the Arkansas Symphony Orchestra.<br/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="ten columns">
			<div id="about">
				<a href="/designer-house/designers"><h3>Meet the designers</h3></a><br/>
				<a href="/designer-house/sponsors"><h3>See our generous sponsors</h3></a><br/>
				<br/>
			</div>
		</div>
	</div>
{% endblock %}
	
