
{% extends "designerhouse/designer-main.html" %}

{% block title %}Tickets{% endblock %}

{% block page_title %}
	

{% endblock %}
					
{% block sub_content %}
	<div class="row">
		<div class="six columns">
			<div id="schedule-title">
				<em>HOURS:</em>
			</div>
			<div id="schedule-detail">
				Tuesdays through Saturdays: 10 a.m. - 4 p.m.<br/>
				Sundays: 1 - 4 p.m.<br/>
				Closed to the public Mondays
			</div>
			<div id="schedule-title">
				<em>TICKETS:</em>
			</div>
			<div id="schedule-detail">
				One day: $20<br/>
				Run of Show: $35<br/>
				<br/>
				<a class="round button" href="https://tickets.arkansassymphony.org/public/loader.asp?target=show_events_list.asp?shCode=317">Buy Tickets</a><br/>
				<br/>
				Tickets also available at Phoenix Interiors<br/>
				<small> in Chenal Place Shopping Center (near Staples and Bed, Bath and Beyond)</small>
			</div>
			<div class="map">
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9+Bella+Rosa+Court,+Little+Rock,+AR&amp;aq=0&amp;oq=9+bella+rosa&amp;sll=34.751928,-92.131378&amp;sspn=5.207256,10.821533&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=9+Bella+Rosa+Ct,+Little+Rock,+Pulaski,+Arkansas+72223&amp;ll=34.799629,-92.451899&amp;spn=0.005083,0.010568&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=9+Bella+Rosa+Court,+Little+Rock,+AR&amp;aq=0&amp;oq=9+bella+rosa&amp;sll=34.751928,-92.131378&amp;sspn=5.207256,10.821533&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=9+Bella+Rosa+Ct,+Little+Rock,+Pulaski,+Arkansas+72223&amp;ll=34.799629,-92.451899&amp;spn=0.005083,0.010568&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
		</div>
		<div class="six columns">
			<div id="event-title">
				<em>SPECIAL EVENTS:</em>
			</div>
			<div id="event-detail">
				<b>Crescendo-Lifting the Veil</b> | <em>April 18</em><br/>
				$125 single | $225 couple<br/>
				<br/>
				<a class="round button" href="https://tickets.arkansassymphony.org/public/loader.asp?target=show_events_list.asp?shCode=318">Buy Tickets</a><br/>
				<br/>
				<b>Girls' Night Out</b> | <em>April 25</em> | $50<br/>
				<br/>
				<a class="round button" href="https://tickets.arkansassymphony.org/public/loader.asp?target=show_events_list.asp?shCode=319">Buy Tickets</a><br/>
				<br/>
				<b>Moonshine in May</b> | <em>May 2</em> | $60<br/>
				<br/>
				<a class="round button" href="https://tickets.arkansassymphony.org/public/loader.asp?target=show_events_list.asp?shCode=320">Buy Tickets</a><br/>
				<br/>
				<b>Teapots and Toasts</b> | <em>May 12</em> | $40<br/>
				<br/>
				<a class="round button" href="https://tickets.arkansassymphony.org/public/loader.asp?target=show_events_list.asp?shCode=321">Buy Tickets</a><br/>
				<br/>
				
			</div>
		</div>
	</div>
	<div class="row">
		<hr/>
		<div class="twelve columns">
			<div id="contact-title">
				<em>Contact</em>
			</div>
			<div id="contact-detail">
				<b>CALL</b><br/>
				Symphony Designer House Hotline --<br/>
				501.666.1761, ext. 110<br/>
				<br/>
				<b>EMAIL</b><br/>
				<a href="mailto:symphonydesignerhouse@arkansassymphony.org">symphonydesignerhouse@arkansassymphony.org</a>
			</div>
		</div>
	</div>
{% endblock %}
	
