{% extends "musicians/musicians.html" %}

	{% block side-nav %}
		<div class="two columns">
		</div>
	{% endblock %}
	
	{% block musician-content %}
	
	<div id="mus-title">
		Forms
	</div><br/><br/>
		<a href="/musicians/musician-forms/">Musician Forms</a><br/>
		<a href="/musicians/hr/">Human Resources Forms</a><br/>
		<a href="/musicians/calendars/reservations/">Reservation Forms</a><br/>
	
	{% endblock %}
	{% block link-back %}
	<br/>
		<a href="/musicians/">Musician Home</a>
	
	{% endblock %}
