{% extends "asyo/base.html" %}
{% load url from future %}
{% block content %}
{% block headerScripts %}
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/static/css/carousel.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/TableTools.css">	
{% endblock %}

<div class="loginForm">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<h1>ASYO Parents Login</h1>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<p>Don't have a parent account? <a href="/asyo/register/">Sign Up Here!</a> <br/>
<br/>If you have have forgotten your password or have any questions about this online registration system please <a href="mailto:bburroughs@arkansassymphony.org">email Barbara</a> or call (501)666-1761, ext. 116.</p>
</div>
{% endblock %}
